.link-tooltip-container
  padding: 5px 10px
  input.input
    width: 170px
  input.input, a.done, a.url, a.change
    display: none
.link-tooltip-container.editing
  input.input, a.done
    display: inline-block
