.ql-link-tooltip
  padding: 5px 10px
  input.input
    width: 170px
  input.input, a.done
    display: none
.ql-link-tooltip.editing
  input.input, a.done
    display: inline-block
  a.url, a.change, a.remove
    display: none
