@media (min-width: 768px) {
  .github-ribbon {
    display: block !important;
  }
  #navigation-container .navbar-right {
    margin-right: 100px;
  }
  #sidebar-dropdown {
    display: none;
  }
  #sidebar-container {
    display: block !important;
  }
}


body {
  color: #444;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #d2d2d2;
  color: inherit;
}

pre {
  background-color: #f8f8f8;
  border-color: #06c;
  border-radius: 0px;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  padding: 10px 14px;
}

pre code {
  border: none;
}

ul {
  list-style: none;
}

body.home {
  background-color: #fafafa;
}

.github-ribbon {
  display: none;
  position: absolute;
  right: 0px;
  z-index: 10;
}

.scribe-wrapper {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 66%;
}
.toolbar {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}


#navigation-container {
  background-color: #222;
  border-radius: 0px;
  margin-bottom: 20px;
}
#navigation-container .navbar-brand {
  font-size: 24px;
}
#navigation-container .navbar-brand > img {
  margin-top: -8px;
}
#navigation-container .icon-bar {
  background-color: #fff;
}
#navigation-container a {
  color: #fff;
}
#navigation-container .nav > li.active > a, #navigation-container .nav > li > a:hover {
  background-color: #333;
}

#sidebar-container {
  display: none;
  margin-top: 20px;
}
#sidebar-container a {
  color: #999;
  font-weight: 500;
}
#sidebar-container a:hover {
  background-color: #fff;
  color: #06c;
}
#sidebar-container > .sidebar-nav {
  top: 20px;
}
#sidebar-container > .sidebar-nav > ul.nav > li.active > a, #sidebar-container > .sidebar-nav > ul.nav > li.active > a:hover {
  border-left: 2px solid #06c;
  padding-left: 13px;
}
#sidebar-container ul.sidebar-nav > li > a:hover {
  border-left: 1px solid #06c;
  padding-left: 14px;
}
#sidebar-container li.active > a {
  color: #06c;
}
#sidebar-container > .sidebar-nav > ul.nav > li > a {
  padding: 2px 0px 2px 15px;
}
#sidebar-container > .sidebar-nav > ul.nav ul.nav > li > a {
  padding: 2px 0px 2px 30px;
}

#sidebar-dropdown {
  margin-bottom: 40px;
}
#sidebar-dropdown a {
  color: #999;
  text-decoration: none;
}
#sidebar-dropdown a:hover {
  background-color: #f5f5f5;
}
#sidebar-dropdown ul {
  padding-left: 0px;
}
#sidebar-dropdown li.active > a {
  background-color: inherit;
  color: #06c;
  font-weight: 700;
}
#sidebar-dropdown ul.dropdown-menu > li > a {
  font-size: 16px;
  padding: 5px 20px;
}
#sidebar-dropdown ul.dropdown-menu > li > ul > li > a {
  display: block;
  padding: 5px 20px 5px 40px;
}

#demo-container {
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  margin-top: -20px;
  padding-top: 40px;
}
#demo-container #editor {
  height: 250px;
}

#features-container {
  background-color: inherit;
  font-size: 16px;
  padding-bottom: 40px;
  padding-top: 10px;
  text-align: center;
}
#features-container h3 {
  margin-top: 10px;
}
#features-container hr {
  border-color: #e8e8e8;
}
#features-container img {
  margin: 0px auto 10px;
}
#features-container .container p {
  margin-left: 25px;
  margin-right: 25px;
}

#github-container {
  margin-top: 40px;
}
#github-container .btn-lg {
  border: 1px solid #06c;
  color: #06c;
  margin-top: 10px;
}
#github-container .btn-lg:hover {
  background-color: #06c;
  color: #fff;
}

#docs-container {
  margin-top: 20px;
  padding-bottom: 40px;
}
#docs-container pre, #docs-container table, #docs-container ul {
  margin-left: 20px;
}
#docs-container table {
  margin-bottom: 10px;
}
#docs-container table thead {
  display: none;
}
#docs-container table td {
  vertical-align: top;
}
#docs-container ul code, #docs-container table code {
  background-color: #fff;
  border: none;
  margin-right: 15px;
  padding: 0px;
}
#docs-container h1 {
  font-size: 32px;
  margin-top: 0px;
}
#docs-container h2 {
  font-size: 24px
}
#docs-container h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
#docs-container h4 {
  margin-top: 20px;
}
#docs-container h2, #docs-container h3 {
  margin-top: 60px;
}
#docs-container ol {
  list-style: none;
}
#docs-container ol, #docs-container ul {
  padding: 0px;
}
#docs-container p > strong {
  text-decoration: underline;
}
#docs-container .scribe-wrapper {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 20px 0px 25px;
  width: 600px;
}

#docs-container #toolbar-editor {
  display: none;
}
#docs-container #authorship-editor {
  height: 120px;
}
#docs-container #multi-cursor-editor {
  height: 150px;
}

#examples-container pre {
  margin-left: 0px;
}
#examples-container .scribe-wrapper {
  margin: 15px 0px;
}
#examples-container #basic-toolbar {
  padding: 5px 15px;
}
#examples-container #basic-toolbar button {
  font-size: 12px;
  height: 20px;
}
#examples-container #basic-toolbar, #examples-container #full-toolbar {
  border-bottom: 1px solid #ccc;
}
#examples-container #basic-editor, #examples-container #full-editor {
  height: 250px;
}
