@media (min-width: 768px) {
  #navigation-container .navbar-right {
    margin-right: 100px;
  }
  #sidebar-dropdown {
    display: none;
  }
  #sidebar-container {
    display: block !important;
  }
}

#navigation-container {
  background-color: #222;
  border-radius: 0px;
}
#navigation-container .navbar-brand {
  font-size: 24px;
}
#navigation-container .icon-bar {
  background-color: #fff;
}
#navigation-container a {
  color: #fff;
}
#navigation-container .nav > li.active > a, #navigation-container .nav > li > a:hover {
  background-color: #333;
}

#sidebar-container {
  display: none;
}
#sidebar-container > ul.nav > li > a {
  padding: 0px;
}
#sidebar-container > ul.nav ul.nav > li > a {
  padding: 0px 0px 0px 15px;
}

#demo-container {
  border-bottom: 1px solid #ccc;
  padding-top: 40px;
}
#demo-container #scribe-toolbar {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow: hidden;
}
#demo-container #scribe-container {
  height: 300px;
}
#demo-container #scribe-toolbar, #demo-container #scribe-container {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 66%;
}

#features-container {
  text-align: center;
}

#github-container {
  text-align: center;
}
