:root {
  --color-accent: #f2d123;
  --color-accent-emphasis: #e1bf15;

  --color-bg-inset: #f0efea;
  --color-bg-inset-emphasis: #e1ded1;

  --docsearch-searchbox-background: var(--color-bg-inset);
  --docsearch-primary-color: var(--color-accent);
  --docsearch-key-shadow: none;
  --docsearch-key-gradient: transparent;

  --width-readable: 800px;
}
