doctype html
html
  head
    title Scribe Webdriver Test
    link(rel='stylesheet', type='text/css', href='../../demo/styles/style.css')
    link(rel='stylesheet', type='text/css', href='../../demo/styles/webdriver.css')
    meta(charset='utf-8')

  body
    .editor-wrapper.fuzzer
      #editor-toolbar.formatting-container
        select.font-name
          option(value='sans-serif', selected=true)  Sans Serif
          option(value='serif')      Serif
          option(value='monospace')  Monospace
        select.font-size
          option(value='small')  Small
          option(value='normal', selected=true) Normal
          option(value='large')  Large
          option(value='huge')   Huge
        select.fore-color
          option(value='white')  White
          option(value='black', selected=true)  Black
          option(value='red')    Red
          option(value='blue') Blue
          option(value='lime') Lime
          option(value='teal')  Teal
          option(value='magenta')   Magenta
          option(value='yellow') Yellow
        select.back-color
          option(value='white', selected=true)  White
          option(value='black')  Black
          option(value='red')   Red
          option(value='blue') Blue
          option(value='lime') Lime
          option(value='teal')  Teal
          option(value='magenta') Magenta
          option(value='yellow') Yellow
        button.format-button.bold Bold
        button.format-button.italic Italic
        button.format-button.underline Under
        button.format-button.strike Strike
        button.format-button.link Link
      .editor-container
      #editor-cache
        div
          span aa
        div
          b bb
          span &nbsp;
          i cc
          span &nbsp;
          s dd
          span &nbsp;
          u ee
        div
          u gg
          i hh
          u ii
          i
            b jj
            s kk
            i ll
        div
          i
            b mm
            u nn
          s oo
        div
          b pp
          i qq
          b rr
          i ss
          b tt
          i ww
          b xx
        div
          span &#09;yy
        div
          span(style='font-size: 32px;' ) zz
          span(style='font-size: 18px;' ) aa
          span(style='font-size: 10px;' ) bb
        div
          span(style='font-size: 32px;' ) cc
        div
          span(style='font-size: 18px;' ) dd
        div
          span(style='font-size: 10px;' ) ee
        div
          span(style='font-family: "Times New Roman", serif;' ) ff
          span(style='font-family: "Courier New", monospace;' ) gg
        div
          span(style='color: rgb(255, 255, 255);' )
            span(style='background-color: rgb(0, 0, 0);') hh
          span(style='color: rgb(255, 0, 0);' ) ii
          span(style='color: rgb(0, 0, 255);' ) jj
          span(style='color: rgb(0, 255, 0);' ) kk
          span(style='color: rgb(0, 255, 255);' ) ll
          span(style='color: rgb(255, 0, 255);' ) mm
          span(style='color: rgb(255, 255, 0);' ) nn
        div
          span(style='background-color: rgb(0, 0, 0);')
            span(style='color: rgb(255, 255, 255);' ) oo
          span(style='background-color: rgb(255, 0, 0);' ) pp
          span(style='background-color: rgb(0, 0, 255);' ) qq
          span(style='background-color: rgb(0, 255, 0);' ) rr
          span(style='background-color: rgb(0, 255, 255);' ) ss
          span(style='background-color: rgb(255, 0, 255);' ) tt
          span(style='background-color: rgb(255, 255, 0);' ) uu
        div
          br
        div
          br
        div
          span vv
        div
          br

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/async/1.22/async.min.js')
    script(type='text/javascript', src='../../scribe.js')
    script(type='text/javascript', src='./scribedriver.js')
    script(type='text/javascript', src='../../lib/tandem-core.js')
