
[data-blot-name="image"] {
  max-width: 100%;
}

.qn-image-container {
  position: relative;
  max-width: 100%;
}

.qn-image-container img {
  width: 100%;
  height: 100%;
}

.qn-image-container .qn-image-shimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
