#mocha
#format-container
  span.bold Bold
  span.link Link
  select.size
    option(value='small') Small
    option(value='normal', selected=true) Normal
    option(value='large') Large
    option(value='huge') Huge
#test-container
#expected-container
