#mocha
#format-container
  button.sc-bold Bold
  button.sc-link Link
  select.sc-font-size
    option(value='small') Small
    option(value='normal', selected=true) Normal
    option(value='large') Large
    option(value='huge') Huge
#test-container
#expected-container
