jekyll:   jekyll serve -s ../../quilljs.github.io -d ../../quilljs.github.io/_site -p 4000 -w
karma:    karma start karma.config.js
webpack:  webpack-dev-server --config webpack.config.js
proxy:    node proxy.js