{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      2,
      "always"
    ],
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": true
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "modules": true
  }
}