.*
!.eslintrc.json
!.eslintignore
!.npmignore
!.gitignore
!.github

/dist
/node_modules
/selenium
/src
*.d.ts
*.js.map
*.log

blots/*.js
core/*.js
formats/*.js
modules/*.js
themes/*.js
ui/*.js

test/**/*.js
!test/helpers/**/*.js
!test/unit/**/*.js
!test/unit.js

core.js
quill.js
/test-results/
/playwright-report/
/playwright/.cache/
