!!! 5
%html
  %head
    %title Stypi Editor Test
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'lib/mocha.css'}

%body
  #mocha
  #editor-container
  #test-container
    #split-test-base<>
      %b<> Bold
    #split-test-text<>
      %b<> Bold
    #split-test-node
      %b<>
        %i<> Italic
        %s<> Strike
    #split-test-both
      %b<>
        %i<> Italic
    #split-test-complex
      %b<>
        %i<>
          %s<>
            %u<> One
            %u<> Two
          %s<> Three
    #split-test-lines
      .line<>
        %b<> 123
        %i<> 456


    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '../src/scribe.all.js'}
    %script{:type => 'text/javascript', :src => 'lib/mocha.js'}
    %script{:type => 'text/javascript', :src => 'lib/chai.js'}
    :javascript
      mocha.setup('bdd');
      mocha.ignoreLeaks();
      expect = chai.expect
    %script{:type => 'text/javascript', :src => 'scripts/unit.js'}
    :javascript
      mocha.run();
