<header>
  <nav class="container navbar">
    <ul class="navbar-list">
     <li class="navbar-item">
        <a href="/docs/quickstart/">Documentation</a>
      </li>
      <li class="navbar-item">
        <a href="/guides/">Guides</a>
      </li>
      <li class="navbar-item">
        <a class="logo" href="/"></a>
      </li>
     <li class="navbar-item">
        <a href="/playground/">Playground</a>
      </li>
      <li class="navbar-item">
        <a href="/blog/">Blog</a>
      </li>
      <li class="navbar-item download">
        <a class="action" href="/docs/download/">Download</a>
      </li>
    </ul>
  </nav>
</header>