<p><span style="font-size: 18px;">One Ring to Rule Them All</span></p>
<p><a href="http://en.wikipedia.org/wiki/One_Ring">http://en.wikipedia.org/wiki/One_Ring</a></p>
<p><br></p>
<p><span>Three Rings for the </span><u>Elven-kings</u><span> under the sky,</span></p>
<p><span>Seven for the </span><u>Dwarf-lords</u><span> in halls of stone,</span></p>
<p><span>Nine for </span><u>Mortal Men</u><span>, doomed to die,</span></p>
<p><span>One for the </span><u>Dark Lord</u><span> on his dark throne.</span></p>
<p><br></p>
<p><span>In the Land of Mordor where the Shadows lie.</span></p>
<p><span>One Ring to </span><b>rule</b><span> them all, One Ring to </span><b>find</b><span> them,</span></p>
<p><span>One Ring to </span><b>bring</b><span> them all and in the darkness </span><b>bind</b><span> them.</span></p>
<p><span>In the Land of Mordor where the Shadows lie.</span></p>
