<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="language" content="english">
<meta name="viewport" content="width=device-width">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@quilljs">
<meta name="twitter:title" content="Quill">
<meta name="twitter:description" content="A Rich Text Editor with an API">
<meta name="twitter:image" content="http://quilljs.com/assets/images/cloud-large.png">
<meta property="og:type" content="website">
<meta property="og:url" content="http://quilljs.com{{ page.url }}">
<meta property="og:image" content="http://quilljs.com/assets/images/cloud-large.png">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">
{% feed_meta %}