<a title="Fork me on GitHub" class="github-ribbon" href="https://github.com/quilljs/quill" target="_blank">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
</a>
<header id="navigation-container" class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="Quill">
        <img src="/images/icon.png" alt="Quill" />
        <span>Quill</span>
      </a>
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% if page.url contains "docs/" %} class="active"{% endif %}>
          <a href="/docs/editor/" title="Documentation">Documentation</a>
        </li>
        <li{% if page.url contains "examples/" %} class="active"{% endif %}>
          <a href="/examples/" title="Examples">Examples</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
