<header id="navigation-container" class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="Quill">
        <img src="/images/icon.png" alt="Quill">
        <span>Quill</span>
      </a>
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% if page.url contains "/docs/" %} class="active"{% endif %}>
          <a href="/docs/quickstart/" title="Documentation">Documentation</a>
        </li>
        <li{% if page.url contains "/examples/" %} class="active"{% endif %}>
          <a href="/examples/" title="Examples">Examples</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.url contains "/blog/" %} class="active"{% endif %}>
          <a href="/blog/" title="Blog">Blog</a>
        </li>
        <li>
          <iframe class="github-button" src="http://ghbtns.com/github-btn.html?user=quilljs&amp;repo=quill&amp;type=watch&amp;count=true"></iframe>
        </li>
      </ul>
    </nav>
  </div>
</header>
