body {
  padding: 25px; }

#content-container {
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 2px 2px #dddddd;
  margin: auto;
  width: 960px; }

#formatting-container {
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
  height: 36px;
  line-height: 32px;
  padding: 0px 5px; }
  #formatting-container .format-group {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0px 5px;
    vertical-align: middle; }
  #formatting-container .format-button {
    border-right: 1px solid #b3b3b3;
    background-image: url("../images/format-unselected-bg.png");
    background-repeat: repeat-x;
    display: inline-block;
    height: 24px; }
  #formatting-container .format-button:hover {
    background-image: url("../images/format-hover-bg.png"); }
  #formatting-container .format-button:active {
    background-image: url("../images/format-click-bg.png"); }
  #formatting-container .format-button.active {
    background-image: url("../images/format-selected-bg.png"); }
  #formatting-container .format-button.first {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px; }
  #formatting-container .format-button.last {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-right: 0px; }
  #formatting-container .format {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-top: -2px;
    padding: 4px;
    vertical-align: middle;
    width: 16px; }
  #formatting-container .bold {
    background-image: url("../../lib/fugue/edit-bold.png"); }
  #formatting-container .italic {
    background-image: url("../../lib/fugue/edit-italic.png"); }
  #formatting-container .strike {
    background-image: url("../../lib/fugue/edit-strike.png"); }
  #formatting-container .underline {
    background-image: url("../../lib/fugue/edit-underline.png"); }

#editor-container {
  height: 600px;
  padding: 10px; }
