!!! 5
%html
  %head
    %title Stypi Editor Testem Tests
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../../lib/mocha.css'}
    :css
      #expected-container, #test-container {
        float: left;
        width: 45%;
      }
      #expected-container, #test-container, #format-container {
        margin-left: 10px;
      }
      iframe { border: 1px solid gray; }
    %meta{:charset => 'utf-8'}

  %body
    #mocha
    #format-container
      %button.bold Bold
      %button.link Link
      %select.size
        %option{:value => 'small'}   Small
        %option{:value => false, :selected => true} Normal
        %option{:value => 'large'}   Large
        %option{:value => 'huge'}    Huge
    #test-container
    #expected-container

    // Need to separate files for code coverage
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}

    - libs = ['async', 'underscore', 'eventemitter2', 'linked_list', 'tandem-core']
    - libs.each do |lib|
      %script{:type => 'text/javascript', :src => "../../lib/#{lib}.js"}

    %script{:type => 'text/javascript', :src => "../../scribe.js"}

    %script{:type => 'text/javascript', :src => '../../lib/mocha.js'}
    %script{:type => 'text/javascript', :src => '../../lib/expect.js'}
    %script{:type => 'text/javascript', :src => '/testem.js'}
    :javascript
      mocha.setup('bdd');
    %script{:type => 'text/javascript', :src => '../scripts/unit.js'}
    :javascript
      mocha.run();
