.ql-snow
  .ql-image-tooltip
    a
      border: 1px solid activeColor
    a.insert
      background-color: activeColor
      color: whiteColor
    .preview
      border-color: borderColor
      color: borderColor
