linkTooltipMargin = 8px

.ql-snow
  .ql-link-tooltip::before
    content: "Visit URL:"
    line-height: 26px
    margin-right: linkTooltipMargin
  .ql-link-tooltip::after
    content: "-"
    line-height: 26px
    margin-left: linkTooltipMargin
  .ql-link-tooltip
    padding: 5px 12px
    input[type=text]
      display: none
      height: 18px
      width: 170px
    a.ql-preview
      display: inline-block
      max-width: 200px
      overflow-x: hidden
      text-overflow: ellipsis
      vertical-align: top
    a.ql-action, a.ql-remove
      float: right
    a.ql-action::before
      border-right: 1px solid borderColor
      content: 'Edit'
      margin-left: linkTooltipMargin
      padding-right: linkTooltipMargin
    a.ql-remove::before
      content: 'Remove'
      margin-left: linkTooltipMargin
    a
      line-height: 26px
  .ql-link-tooltip.ql-editing
    a.ql-preview, a.ql-remove
      display: none
    input[type=text]
      display: inline-block
    a.ql-action::before
      border-right: 0px
      content: 'Save'
      padding-right: 0px
