blackColor = #444
blueColor = #06c
grayColor = #ccc
lightGrayColor = #ddd
whiteColor = #fff

.ql-toolbar.ql-snow
  border: 1px solid grayColor
  padding: 8px

  button
    background: none
    border: none
    height: 24px
    outline: none
    padding: 3px
    width: 24px

    .ql-stroke
      fill: none
      stroke: blackColor
      stroke-linecap: round
      stroke-linejoin: round
      stroke-width: 2
    .ql-stroke-mitter
      fill: none
      stroke: blackColor
      stroke-mitterlimit: 10
      stroke-width: 2

    .ql-empty
      fill: none
    .ql-even
      fill-rule: evenodd
    .ql-fill, .ql-stroke.ql-fill
      fill: blackColor
    .ql-thin, .ql-stroke.ql-thin
      stroke-width: 1
    .ql-transparent
      opacity: 0.4

.ql-toolbar.ql-snow + .ql-container.ql-snow
  border-top: 0px;
