colorItemMargin = 2px
colorItemSize = 16px
colorItemsPerRow = 7


.ql-toolbar.ql-snow
  border: 1px solid borderColor
  box-sizing: border-box
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  padding: 8px

  *
    box-sizing: border-box

  .ql-formats
    display: inline-block
    margin-right: 15px
    vertical-align: middle

  button:hover, button.ql-active,
  .ql-picker-label:hover, .ql-picker-label.ql-active,
  .ql-picker-item:hover, .ql-picker-item.ql-selected
    color: activeColor
    .ql-fill, .ql-stroke.ql-fill
      fill: activeColor
    .ql-stroke, .ql-stroke-mitter
      stroke: activeColor

  .ql-stroke
    stroke: inactiveColor
  .ql-stroke-mitter
    stroke: inactiveColor

  .ql-fill, .ql-stroke.ql-fill
    fill: inactiveColor

  .ql-picker
    // background-color: yellow    // TODO remove
    color: inactiveColor
    display: inline-block
    float: left
    font-size: 14px
    font-weight: 500
    height: controlHeight
    position: relative
    vertical-align: middle
  .ql-picker-label
    border: 1px solid transparent
    cursor: pointer
    display: inline-block
    height: 100%
    padding-left: 8px
    padding-right: 2px
    position: relative
    width: 100%
    svg
      float: right
      height: 18px
      margin-top: 2px
  .ql-picker-label::before
    vertical-align: middle
  .ql-picker-options
    background-color: backgroundColor
    border: 1px solid transparent
    display: none
    min-width: 100%
    padding: 4px 8px
    position: absolute
    white-space: nowrap
    .ql-picker-item
      cursor: pointer
      display: block
      padding-bottom: 5px
      padding-top: 5px
  .ql-picker.ql-expanded
    .ql-picker-label
      border-color: borderColor
      color: borderColor
      z-index: 2
      .ql-fill
        fill: borderColor
      .ql-stroke
        stroke: borderColor
    .ql-picker-options
      border-color: borderColor
      box-shadow: rgba(0,0,0,0.2) 0 2px 8px
      display: block
      margin-top: -1px
      z-index: 1

  .ql-color-picker, .ql-icon-picker
    width: controlHeight + 4
    .ql-picker-label
      padding: 2px 4px
      svg
        margin-top: 0px
  .ql-icon-picker
    .ql-picker-options
      padding: 4px 0px
    .ql-picker-item
      height: controlHeight
      padding: 2px 4px
  .ql-color-picker.ql-expanded, .ql-icon-picker.ql-expanded
    .ql-picker-options
      margin-top: -4px
  .ql-color-picker
    .ql-picker-options
      padding: inputPadding
      width: (colorItemSize + 2*colorItemMargin) * colorItemsPerRow + 2*inputPadding + 2  // +2 for the border
    .ql-picker-item
      border: 1px solid transparent
      float: left
      height: colorItemSize
      margin: colorItemMargin
      padding: 0px
      width: colorItemSize
    .ql-picker-item.ql-primary-color
      margin-bottom: toolbarPadding
    .ql-picker-item.ql-selected, .ql-picker-item:hover
      border-color: #000

  .ql-picker.ql-header
    width: 98px
    .ql-picker-label::before,
    .ql-picker-item::before
      content: 'Normal'
    for num in (1..6)
      .ql-picker-label[data-value=\"{num}\"]::before,
      .ql-picker-item[data-value=\"{num}\"]::before
        content: 'Heading ' + num
    .ql-picker-item[data-value="1"]::before
      font-size: 2em
    .ql-picker-item[data-value="2"]::before
      font-size: 1.5em
    .ql-picker-item[data-value="3"]::before
      font-size: 1.17em
    .ql-picker-item[data-value="4"]::before
      font-size: 1em
    .ql-picker-item[data-value="5"]::before
      font-size: 0.83em
    .ql-picker-item[data-value="6"]::before
      font-size: 0.67em

  .ql-picker.ql-font
    width: 108px
    .ql-picker-label::before,
    .ql-picker-item::before
      content: 'Sans Serif'
    .ql-picker-label[data-value=serif]::before,
    .ql-picker-item[data-value=serif]::before
      content: 'Serif'
    .ql-picker-label[data-value=monospace]::before,
    .ql-picker-item[data-value=monospace]::before
      content: 'Monospace'
    .ql-picker-item[data-value=serif]::before
      font-family: Georgia, Times New Roman, serif;
    .ql-picker-item[data-value=monospace]::before
      font-family: Monaco, Courier New, monospace;

  .ql-picker.ql-size
    width: 98px
    .ql-picker-label::before,
    .ql-picker-options > span::before
      content: 'Normal'
    .ql-picker-label[data-value=small]::before,
    .ql-picker-item[data-value=small]::before
      content: 'Small'
    .ql-picker-label[data-value=large]::before,
    .ql-picker-item[data-value=large]::before
      content: 'Large'
    .ql-picker-label[data-value=huge]::before,
    .ql-picker-item[data-value=huge]::before
      content: 'Huge'
    .ql-picker-item[data-value=small]::before
      font-size: 10px
    .ql-picker-item[data-value=large]::before
      font-size: 18px
    .ql-picker-item[data-value=huge]::before
      font-size: 32px

  .ql-color-picker.ql-background
    .ql-picker-item
      background-color: #fff;
  .ql-color-picker.ql-color
    .ql-picker-item
      background-color: #000;

.ql-toolbar.ql-snow + .ql-container.ql-snow
  border-top: 0px;
