.ql-snow
  .ql-tooltip
    background-color: #fff
    border: 1px solid borderColor
    box-shadow: 0px 0px 5px shadowColor
    color: darkColor
    position: absolute
    a
      cursor: pointer
      text-decoration: none
    input[type=text]
      border: 1px solid borderColor
      font-size: 13px
      margin: 0px
      padding: 3px 5px
