.ql-snow
  .ql-tooltip
    border: 1px solid borderColor
    box-shadow: 0px 0px 5px shadowColor
    color: darkColor
    a
      color: activeColor
    .input
      border: 1px solid borderColor
      margin: 0px
      padding: 5px
