arrowWidth = 6px

.ql-bubble
  .ql-toolbar
    background-color: backgroundColor
    border-radius: 25px
    box-sizing: border-box
    position: absolute
    top: 100px      // TODO remove
    left: 100px     // TODO remove

    button
      border-radius: 15px
      border: 1px solid borderColor
      height: 30px
      margin: 8px 0px 8px 10px
      padding: 5px
    button:last-child
      margin-right: 10px

    button:hover, button.ql-active
      border-color: activeColor
      .ql-fill, .ql-stroke.ql-fill
        fill: activeColor
      .ql-stroke, .ql-stroke-mitter
        stroke: activeColor

    .ql-stroke
      stroke: inactiveColor
    .ql-stroke-mitter
      stroke: inactiveColor

    .ql-fill, .ql-stroke.ql-fill
      fill: inactiveColor

    &:before
      border-bottom: arrowWidth solid backgroundColor
      border-left: arrowWidth solid transparent
      border-right: arrowWidth solid transparent
      content: " "
      display: block
      left: 50%
      margin-left: -1 * arrowWidth
      position: absolute
      top: -1 * arrowWidth
