arrowWidth = 6px

.ql-bubble
  .ql-toolbar
    button
      border-radius: 15px
      border: 1px solid borderColor
      height: 30px
      margin: 8px 0px 8px 10px
      padding: 5px
      width: 30px
    button:last-child
      margin-right: 10px

    button:hover, button.ql-active
      border-color: activeColor
      .ql-fill, .ql-stroke.ql-fill
        fill: activeColor
      .ql-stroke, .ql-stroke-mitter
        stroke: activeColor

    .ql-stroke
      stroke: inactiveColor
    .ql-stroke-mitter
      stroke: inactiveColor

    .ql-fill, .ql-stroke.ql-fill
      fill: inactiveColor
