@font-face {
  font-family: 'Sofia Pro';
  src: url('//cdn.quilljs.com/fonts/sofia-pro.eot');
  src: url('//cdn.quilljs.com/fonts/sofia-pro.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sofia-pro.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sofia-pro.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sofia-pro.ttf') format('truetype');
}
@font-face {
  font-family: 'Sofia Pro';
  font-weight: bold;
  src: url('//cdn.quilljs.com/fonts/sofia-pro-bold.eot');
  src: url('//cdn.quilljs.com/fonts/sofia-pro-bold.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sofia-pro-bold.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sofia-pro-bold.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sofia-pro-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sailec Light';
  src: url('//cdn.quilljs.com/fonts/sailec-light.eot');
  src: url('//cdn.quilljs.com/fonts/sailec-light.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sailec-light.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sailec-light.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sailec-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Sailec Light';
  font-weight: bold;
  src: url('//cdn.quilljs.com/fonts/sailec-bold.eot');
  src: url('//cdn.quilljs.com/fonts/sailec-bold.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sailec-bold.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sailec-bold.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sailec-bold.ttf') format('truetype');
}

/*** Native ***/

html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sailec Light', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.5rem;
}

a {
  color: #1d1e30;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #1d1e30;
}

p {
  font-size: 1.5rem;
}

button, select {
  height: inherit;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

pre, code {
  font-family: "Inconsolata", monospace;
}

code {
  font-size: 1.33rem;
}

pre code {
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0 0 6px 2px rgba(28, 31, 47, 0.1);
  padding: 32px;
  white-space: pre-wrap;
}

*:not(pre) > code {
  background-color: transparent;
  border-color: #ff0000;
  border-radius: 0px;
  color: #ff0000;
  padding: 0.2rem 1rem;
}


/*** Global ***/

.action {
  background-color: #f2d123;
  display: inline-block;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  height: 6.3em;
  vertical-align: middle;
  width: 10.5em;
}

.container {
  max-width: 1200px;
}

.center {
  text-align: center;
}

.github-button {
  background-color: #1d1e30;
  border: 3px solid #1d1e30;
  display: inline-block;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.github-action {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 1.33rem;
  line-height: 32px;
  padding: 10px 22px;
}

.github-action:hover {
  color: #fff;
}

.github-action svg {
  float: left;
  height: 32px;
  margin-right: 12px;
  width: 32px;
}

.github-action path {
  fill: #fff;
}

.github-count {
  background-color: #fff;
  display: inline-block;
  float: left;
  font-size: 1.75rem;
  line-height: 32px;
  padding: 10px 30px;
}

.row > hr {
  width: 90%;
}


/*** Header ***/

header {
  background-color: #1d1e30;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 1.25rem;
  padding-bottom: 1.4em;
  padding-top: 1.4em;
  text-align: center;
  text-transform: uppercase;
}
header li {
  margin-bottom: 0;
}
header a {
  color: #fff;
}
header a:hover {
  color: #fff;
}

header .action {
  color: #1d1e30;
  display: inline;
  padding: 1em;
}
body:not(.home) header .logo {
  width: 10em;
}
body:not(.home) header .logo circle,
body:not(.home) header .logo path {
  fill: #fff;
}

.navbar-list {
  color: #fff;
  letter-spacing: 0.15rem;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0.67em;
}

.navbar-list li {
  display: inline-block;
  line-height: 7.33rem;
  padding: 0.67em;
}
.navbar-list .download-item {
  margin-right: -2.5%;
  position: absolute;
  right: 0;
}
.navbar-list .download-item .action:hover {
  background-color: #1d1e30;
  border: 2px solid #fff;
  color: #fff;
}
.navbar-link, .action-link {
  position: relative;
}
.navbar-toggle {
  border: none;
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 2.1em;
}
.navbar-toggle span {
  background-color: #fff;
  display: block;
  height: 0.27em;
  margin: 0.53em;
  width: 2.5em;
}


/*** Footer ***/

footer {
  font-size: 1.5rem;
  background-color: #1d1e30;
  color: #fff;
  margin-top: 5.5em;
  padding-bottom: 5.5em;
  padding-top: 7.5em;
  text-align: center;
}

footer h1 {
  font-family: "Sailec Light", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.67em;
  margin-top: 1.67em;
}

footer .actions.row {
  text-align: center;
}

footer .action {
  font-size: 1.5rem;
  height: 4.44em;
  line-height: 6.67rem;
  margin-bottom: 1.4em;
  margin-right: 1.4em;
  vertical-align: middle;
  width: 14.5em;
}

footer .action.documentation {
  background-color: #1d1e30;
  border: 2px solid #f2d123;
  color: #f2d123;
}
footer .action:hover {
  background-color: #fff;
  border: none;
  color: #1d1e30;
}

footer .logo {
  width: 10em;
}

footer .logo circle,
footer .logo path {
  fill: #fff;
}

footer .users.row {
  background-image: url(/assets/images/footer.png);
  background-position-y: 45px;
  background-repeat: no-repeat;
  color: #494c59;
  height: 120px;
  margin: 4.5em auto 0;
    width: 450px;
}

footer .users.row h3 {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


/*** Home ***/

body.home header {
  background-color: #f4f5f5;
  color: #1d1e30;
  padding-top: 2.8em;
}
body.home header a {
  color: #1d1e30;
}
body.home header .action {
  background-color: transparent;
  border: 3px solid #1d1e30;
}
body.home .navbar-toggle span {
  background-color: #1d1e30;
}

#above-container {
  background-color: #f4f5f5;
  padding-top: 5em;
}
#above-container.demo-active #laptop-container {
  margin-bottom: 0;
  margin-top: -160px;
}
#above-container.demo-active #users-container ul {
  visibility: hidden;
}

#users-container {
  font-size: 1.25rem;
  padding-bottom: 0.53em;
  padding-top: 0.53em;
  text-align: center;
}
#users-container h1 {
  font-size: 5rem;
  margin-bottom: 0.25em;
}
#users-container ul {
  list-style: none;
  text-transform: uppercase;
}
#users-container li {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  margin: 0 1em;
  vertical-align: middle;
}
#users-container li:first-child {
  font-size: 1.08rem;
}
#users-container li:not(:first-child) {
  width: 10em;
}
#users-container img {
  height: 100px;
}

#laptop-container {
  background-color: #c8ccd2;
  border: 2px solid #000;
  border-bottom: 0px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0 0 40px 2px rgba(28, 31, 47, 0.1);
  font-size: 1.5rem;
  margin-bottom: -154px;
  margin-top: 1.22em;
  width: 100%;
}
#camera-container {
  margin: 17px auto;
  width: 40px;
  text-align: center;
}

#camera-container .camera {
  border: 4px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

#demo-container {
  background-color: #fff;
  border: 2px solid #000;
  margin: 0 50px;
  padding: 10px;
}
#demo-container #toolbar {
  border: none;
  opacity: 0;
  padding: 4.5% 15%;
}
#demo-container #editor {
  border: none;
  height: 395px;
  opacity: 0;
}
#demo-container .ql-editor {
  font-size: 1.5rem;
  overflow-y: hidden;
  padding: 0 20%;
}


#detail-container {
  background-color: #fff;
  font-size: 1.5rem;
  margin-top: -5px;
  position: relative;
  text-align: center;
}

#detail-container .action {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  margin-bottom: 2em;
  margin-top: 6.89em;
  padding: 1.5em 2.78em;
}
#detail-container .action:hover {
  background-color: #1d1e30;
  color: #fff;
}

#detail-container h1 {
  font-family: "Sailec Light", sans-serif;
  letter-spacing: 0.20rem;
  font-size: 3.33rem;
}

#features-container {
  margin-bottom: 4.44em;
  margin-top: 5.83em;
}

#features-container .feature {
  padding: 1.4em 1.4em 5.56em;
}

#features-container #github-wrapper {
  height: 3.33em;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 18em;
}
#features-container .feature.columns:last-child {
  border-left: 1px solid #d9dce1;
}
#features-container .feature.row {
  margin-top: 5.56em;
}
.feature.columns, .feature.row .columns {
  width: 48%;
}
.feature.row {
  display: block;
}
.feature .details {
  padding: 1.7em 0 1.8em 3.5em;
}

#features-container #github-container {
  background-color: #fff;
  margin-left: 1.8em;
  margin-top: -1.67em
}

#features-container #github-wrapper + hr {
  margin-top: 0px;
  width: 85%;
}

.feature.columns img {
  margin-left: 1.4em;
  margin-right: 1.4em;
}

.feature .action-link {
  display: inline-block;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-top: 2.5em;
  text-transform: uppercase;
}

.feature .details > h2 {
  font-size: 2.33rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 1.8em;
  text-transform: uppercase;
}

.feature .details > span {
  display: block;
  font-size: 1.33rem;
  letter-spacing: 0.1rem;
  line-height: 200%;
  padding-right: 2em;
}

/*** Home Demo ***/
#demo-container .ql-editor *,
#demo-container .ql-editor,
#demo-container .ql-toolbar {
  font-family: 'Sailec Light', sans-serif;
}
#demo-container .ql-toolbar .ql-picker-label {
  font-size: 15px;
}
#demo-container .ql-snow .ql-header.ql-picker {
  width: 115px;
}
#demo-container .ql-snow .ql-font.ql-picker {
  width: 132px;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=sofia]::before,
#demo-container .ql-font-sofia {
  font-family: 'Sofia Pro', sans-serif;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=slabo]::before,
#demo-container .ql-font-slabo {
  font-family: 'Slabo 13px', sans-serif;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=roboto]::before,
#demo-container .ql-font-roboto {
  font-family: 'Roboto Slab', serif;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=inconsolata]::before,
#demo-container .ql-font-inconsolata {
  font-family: 'Inconsolata', monospace;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=ubuntu]::before,
#demo-container .ql-font-ubuntu {
  font-family: 'Ubuntu Mono', monospace;
}

/*** Docs ***/

body:not(.home) .feature.row {
  margin-top: 2.78em;
}

body:not(.home) .feature h2 {
  margin-bottom: 1.5em;
}

body:not(.home) .feature .github-button {
  margin-top: 1.78em;
}
body:not(.home) .navbar-list .download-item .action:hover {
  background-color: #fff;
  border: none;
  color: #1d1e30;
}
body:not(.home) .navbar-link:before {
  background-color: #fff;
}

.edit-link {
  display: inline-block;
  float: right;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.08rem;
  font-weight: bold;
  height: 2.5em;
  letter-spacing: 0.1rem;
  line-height: 2.5em;
  text-decoration: underline;
  text-transform: uppercase;
}
.edit-link svg {
  float: right;
  height: 2.5em;
  margin-left: 1em;
  width: 2.5em;
}

#sidebar-container {
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.08rem;
  margin-top: 12em;
  text-transform: uppercase;
}

#sidebar-container ul {
  list-style: none;
}
#sidebar-container li {
  margin-bottom: 0.3em;
}
#sidebar-container > ul {
  list-style: none;
}
#sidebar-container > ul ul {
  margin: 1rem 0 0 4.2em;
}
#sidebar-container > ul > li > a {
  padding-left: 1.4em;
  padding-top: 2px;
}
#sidebar-container > ul > li.active > a {
  border-left: 3px solid #1d1e30;
  padding-left: 1.15em;
}
#sidebar-container li.active > a {
  color: #1d1e30;
}
#sidebar-container a {
  color: #9a9dae;
  display: block;
}
#sidebar-container a:hover {
  color: #1d1e30;
}

#docs-container {
  margin-bottom: 5em;
  margin-top: 2.5em;
}
#docs-container .breadcrumb {
  font-size: 1.25rem;
}
#docs-container .breadcrumb span:first-child {
  font-weight: bold;
}
#docs-container hr {
  margin-left: -2%;
  width: 104%;
}
#docs-container h1:first-of-type {
  margin-top: 0;
}

#content-container {
  margin-bottom: 6.67em;
  max-width: 800px;
}

#pagination-container {
  font-size: 2.5rem;
  max-width: 800px;
}
#pagination-container .prev,
#pagination-container .next,
#pagination-container .arrow {
  display: inline-block;
  height: 1em;
  line-height: 1em;
}
#pagination-container .prev,
#pagination-container .prev .label,
#pagination-container .prev .arrow {
  float: left;
}
#pagination-container .next,
#pagination-container .next .label,
#pagination-container .next .arrow {
  float: right;
}
#pagination-container .label {
  font-size: 1.25rem;
  display: inline-block;
  height: 2em;
  line-height: 2em;
}
#pagination-container .arrow {
  padding: 0.33em 0.67em;
}
#pagination-container .shaft {
  background-color: #000;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  display: inline-block;
  float: left;
  height: 0.33em;
  width: 0.66em;
}
#pagination-container .tip {
  display: inline-block;
  border-bottom: 0.17em solid transparent;
  border-top: 0.17em solid transparent;
}
#pagination-container .prev .tip {
  float: left;
  border-right: 0.33em solid #000;
}
#pagination-container .next .tip {
  float: right;
  border-left: 0.33em solid #000;
}
#pagination-container .prev:after {
  content: "Previous";
}
#pagination-container .next:before {
  content: "Next";
}
#pagination-container .next:before,
#pagination-container .prev:before {
  font-family: "Sofia Pro", sans-serif;
}


/*** Playground ***/

#playground-container {
  margin-bottom: 5.5em;
  margin-top: 5.5em;
}
#playground-container .codepen {
  height: 500px;
}


/*** Blog Container ***/

#blog-container {
  margin-top: 5.5em;
  max-width: 800px;
}
#blog-container .post-meta {
  margin-bottom: 2.78em;
  text-align: center;
}
#blog-container .post-meta,
#blog-container .post-meta a {
  color: #939598;
}
#blog-container h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-align: center;
}
#blog-container .post-item hr {
  margin-bottom: 5.5em;
  margin-top: 2.78em;
}
#blog-container p a {
  text-decoration: underline;
}
#blog-container .more-link {
  display: inline-block;
  font-weight: bold;
  margin-top: 2.78em;
}


/*** Responsive Rules ***/

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
  body.home header {
    padding-top: 1em;
  }
  .logo {
    height: 5.3em;
    width: 8.5em;
  }
  #above-container {
    padding-top: 0;
  }
  #users-container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    padding: 0 1.2em;
  }
  #users-container li:not(:first-child) {
    width: 6em;
  }
  #users-container ul {
    margin-bottom: 0;
  }
  #users-container ul li:first-child {
    display: block;
  }
  #users-container img {
    height: 55px;
  }
  #demo-container .ql-editor {
    font-size: 1rem;
    padding: 10px;
  }
  #demo-container .ql-editor {
    font-size: 1rem;
    padding: 10px;
  }
  #demo-container #toolbar .ql-font,
  #demo-container #toolbar .ql-formats {
    display: none;
  }
  #demo-container #toolbar .ql-formats:first-child,
  #demo-container #toolbar .ql-formats:first-child + .ql-formats {
    display: inline-block;
  }
  #detail-container .action {
    margin-top: 3em;
  }
  #detail-container h1 {
    font-size: 1.5em;
    padding: 0 1em;
  }
  #features-container {
    margin-bottom: 10em;
    margin-top: 0;
  }
  #features-container hr {
    display: none;
  }
  #features-container .feature {
    padding: 1em;
  }
  #features-container .feature.columns:last-child {
    border-left: none;
  }
  #features-container #github-wrapper {
    bottom: -7em;
    position: absolute;
    width: 23em;
    left: 50%;
    margin-left: -11.5em;
  }
  #features-container .feature.row {
    margin-top: 0;
  }
  .feature .details > h2 {
    font-size: 1em;
    margin-bottom: 0.75em;
  }
  .feature .action-link {
    margin-top: 1em;
  }
  .feature.columns, .feature.row .columns {
    width: 100%;
  }
  .feature.row {
    display: flex;
    flex-direction: column-reverse;
  }
  footer {
    font-size: 1rem;
    padding-top: 5em;
  }
  footer h1 {
    font-size: 2.5rem;
    padding: 0 1.3em;
  }
  footer .users.row {
    margin-top: 2.5em;
    width: 270px;
  }
}

@media (max-width: 1023px) {
  .navbar-toggle {
    display: inline-block;
    margin-right: 5%;
  }
  .navbar-list .navbar-item, .navbar-list .download-item {
    display: none;
  }
  #demo-container {
    margin: 0px 22px;
  }
  #demo-container .ql-editor {
    padding: 0 10%;
  }
  #demo-container #toolbar {
    padding: 2.25% 5% 5%;
  }
  .feature .details {
    padding: 1em;
  }
  .feature .details > span {
    line-height: 1.6;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .navbar-link:before, .action-link:before {
    background-color: #000;
    bottom: -18px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
  }
  .navbar-link:hover:before, .action-link:hover:before {
    transform: scaleX(1);
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  header .action {
    padding: 16px 26px;
  }
  .navbar-list li {
    margin-right: 2.5%;
  }
}
