@font-face {
  font-family: 'Sofia Pro';
  src: url('//cdn.quilljs.com/fonts/sofia-pro.eot');
  src: url('//cdn.quilljs.com/fonts/sofia-pro.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sofia-pro.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sofia-pro.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sofia-pro.ttf') format('truetype');
}
@font-face {
  font-family: 'Sofia Pro';
  font-weight: bold;
  src: url('//cdn.quilljs.com/fonts/sofia-pro-bold.eot');
  src: url('//cdn.quilljs.com/fonts/sofia-pro-bold.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sofia-pro-bold.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sofia-pro-bold.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sofia-pro-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sailec Light';
  src: url('//cdn.quilljs.com/fonts/sailec-light.eot');
  src: url('//cdn.quilljs.com/fonts/sailec-light.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sailec-light.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sailec-light.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sailec-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Sailec Light';
  font-weight: bold;
  src: url('//cdn.quilljs.com/fonts/sailec-bold.eot');
  src: url('//cdn.quilljs.com/fonts/sailec-bold.eot?#iefix') format('embedded-opentype'),
       url('//cdn.quilljs.com/fonts/sailec-bold.woff2') format('woff2'),
       url('//cdn.quilljs.com/fonts/sailec-bold.woff') format('woff'),
       url('//cdn.quilljs.com/fonts/sailec-bold.ttf') format('truetype');
}

/*** Native ***/

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sailec Light', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sofia Pro', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

a {
  color: #1d1e30;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #1d1e30;
}

strong {
  font-weight: bold;
}

pre, code {
  font-family: "Inconsolata", monospace;
}

code {
  font-size: 16px;
}

pre code {
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0 0 6px 2px rgba(28, 31, 47, 0.1);
  padding: 32px;
  white-space: pre-wrap;
}

*:not(pre) > code {
  background-color: transparent;
  border-color: #ff0000;
  border-radius: 0px;
  color: #ff0000;
  padding: 0.2rem 1rem;
}


/*** Global ***/

.action {
  background-color: #f2d123;
  display: inline-block;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 14.5px;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 160px;
}

.container {
  max-width: 1200px;
}

.center {
  text-align: center;
}

.github-button {
  background-color: #1d1e30;
  border: 3px solid #1d1e30;
  display: inline-block;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.github-action {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 32px;
  padding: 10px 22px;
}

.github-action:hover {
  color: #fff;
}

.github-action svg {
  float: left;
  height: 32px;
  margin-right: 12px;
  width: 32px;
}

.github-action path {
  fill: #fff;
}

.github-count {
  background-color: #fff;
  display: inline-block;
  float: left;
  font-size: 21px;
  line-height: 32px;
  padding: 10px 22px;
}

.row > hr {
  width: 90%;
}


/*** Header ***/

header {
  background-color: #1d1e30;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 15.5px;
  height: 160px;
  padding-top: 21px;
  text-align: center;
  text-transform: uppercase;
}

header a {
  color: #fff;
}
header a:hover {
  color: #fff;
}

header .action {
  color: #1d1e30;
  display: inline;
  padding: 16px;
}
body:not(.home) header .logo {
  height: 90px;
  width: 150px;
}
body:not(.home) header .logo circle,
body:not(.home) header .logo path {
  fill: #fff;
}

.navbar-list {
  color: #fff;
  letter-spacing: 0.15rem;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 10px;
}

.navbar-list li {
  display: inline-block;
  line-height: 88px;
  padding: 10px;
}
.navbar-list .navbar-item, .navbar-list .download-item {
  display: none;
}
.navbar-list .download-item {
  margin-right: -2.5%;
  position: absolute;
  right: 0px;
}
.navbar-list .download-item .action:hover {
  background-color: #1d1e30;
  border: 2px solid #fff;
  color: #fff;
}
.navbar-link, .action-link {
  position: relative;
}
.navbar-link:before, .action-link:before {
  background-color: #000;
  bottom: -18px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}
.navbar-link:hover:before, .action-link:hover:before {
  transform: scaleX(1);
  visibility: visible;
}
.navbar-toggle {
  border: none;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 32px;
}
.navbar-toggle span {
  background-color: #fff;
  display: block;
  height: 4px;
  margin: 8px;
  width: 38px;
}


/*** Footer ***/

footer {
  background-color: #1d1e30;
  color: #fff;
  height: 853px;
  margin-top: 100px;
  padding-top: 135px;
  text-align: center;
}

footer h1 {
  font-family: "Sailec Light", sans-serif;
  font-size: 45px;
  letter-spacing: 0.2rem;
  margin-bottom: 66px;
  margin-top: 66px;
}

footer .actions.row {
  margin: auto;
  width: 550px;
}

footer .action {
  float: right;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  width: 260px;
}
footer .action:hover {
  /*background-color: ;*/
}

footer .action.documentation {
  background-color: #1d1e30;
  border: 2px solid #f2d123;
  color: #f2d123;
  float: left;
}
footer .action:hover {
  background-color: #fff;
  border: none;
  color: #1d1e30;
}

footer .logo {
  height: 107px;
  width: 180px;
}

footer .logo circle,
footer .logo path {
  fill: #fff;
}

footer .users.row {
  background-image: url(/assets/images/footer.png);
  background-position-y: 45px;
  background-repeat: no-repeat;
  color: #494c59;
  height: 120px;
  margin: 100px auto 0px;
  width: 450px;
}

footer .users.row h3 {
  font-size: 12px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


/*** Home ***/

body.home header {
  background-color: #f4f5f5;
  color: #1d1e30;
  height: 240px;
  padding-top: 42px;
}
body.home header a {
  color: #1d1e30;
}
body.home header .action {
  background-color: transparent;
  border: 3px solid #1d1e30;
}
body.home .navbar-toggle span {
  background-color: #1d1e30;
}

#above-container {
  background-color: #f4f5f5;
}
#above-container.demo-active #laptop-container {
  margin-bottom: 0px;
  margin-top: -160px;
}
#above-container.demo-active #users-container ul {
  visibility: hidden;
}

#users-container {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}
#users-container h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
#users-container ul {
  font-size: 13px;
  list-style: none;
  text-transform: uppercase;
}
#users-container li {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 0px 15px;
  vertical-align: middle;
}
#users-container li:not(:first-child) {
  width: 150px;
}

#laptop-container {
  background-color: #c8ccd2;
  border: 2px solid #000;
  border-bottom: 0px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0 0 40px 2px rgba(28, 31, 47, 0.1);
  margin-bottom: -154px;
  margin-top: 22px;
  width: 100%;
}
#camera-container {
  margin: 17px auto;
  width: 40px;
  text-align: center;
}

#camera-container .camera {
  border: 4px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

#demo-container {
  background-color: #fff;
  border: 2px solid #000;
  margin: 0px 50px;
  padding: 10px;
}

#demo-container #toolbar {
  border: none;
  padding: 44px 150px;
}
#demo-container #toolbar .ql-header.ql-picker {
  width: 108px;
}

#demo-container #editor {
  border: none;
  height: 395px;
}
#demo-container .ql-editor {
  font-size: 18px;
  overflow-y: hidden;
  padding: 0px 200px;
}

#detail-container {
  background-color: #fff;
  margin-top: -5px;
  position: relative;
  text-align: center;
}

#detail-container .action {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.25rem;
  margin-bottom: 15px;
  margin-top: 124px;
  padding: 27px 50px;
}
#detail-container .action:hover {
  background-color: #1d1e30;
  color: #fff;
}

#detail-container h1 {
  font-family: "Sailec Light", sans-serif;
  letter-spacing: 0.20rem;
  font-size: 40px;
}

#features-container {
  margin-bottom: 80px;
  margin-top: 105px;
}

#features-container .feature {
  padding: 25px 25px 100px;
}

#features-container .feature.columns:last-child {
  border-left: 1px solid #d9dce1;
}

#features-container .feature.row {
  margin-top: 100px;
}

#features-container #github-wrapper {
  height: 60px;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 320px;
}

#features-container #github-container {
  background-color: #fff;
  margin-left: 18px;
  margin-top: -30px;
}

#features-container #github-wrapper + hr {
  margin-top: 0px;
  width: 85%;
}

.feature.six.columns img {
  margin-left: 25px;
  margin-right: 25px;
}

.feature .details {
  padding: 32px 32px 32px 64px;
}

.feature .action-link {
  display: inline-block;
  font-family: "Sofia Pro", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-top: 38px;
  text-transform: uppercase;
}

.feature .details > h2 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.feature .details > span {
  display: block;
  font-size: 16px;
  letter-spacing: 0.1rem;
  line-height: 200%;
}

/*** Home Demo ***/
#demo-container .ql-editor,
#demo-container .ql-toolbar {
  font-family: 'Sailec Light', sans-serif;
}
#demo-container .ql-toolbar .ql-picker-label {
  font-size: 15px;
}
#demo-container .ql-toolbar .ql-header .ql-picker-label {
  font-family: 'Sofia Pro', sans-serif;
  font-size: 16px;
}
#demo-container .ql-snow .ql-font.ql-picker {
  width: 132px;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=sofia]::before,
#demo-container .ql-font-sofia {
  font-family: 'Sofia Pro', sans-serif;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=slabo]::before,
#demo-container .ql-font-slabo {
  font-family: 'Slabo 13px', sans-serif;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=roboto]::before,
#demo-container .ql-font-roboto {
  font-family: 'Roboto Slab', serif;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=inconsolata]::before,
#demo-container .ql-font-inconsolata {
  font-family: 'Inconsolata', monospace;
}
#demo-container .ql-snow .ql-font .ql-picker-item[data-value=ubuntu]::before,
#demo-container .ql-font-ubuntu {
  font-family: 'Ubuntu Mono', monospace;
}

/*  .ql-picker.ql-font
    width: 108px
    .ql-picker-label::before,
    .ql-picker-item::before
      content: 'Sans Serif'
    .ql-picker-label[data-value=serif]::before,
    .ql-picker-item[data-value=serif]::before
      content: 'Serif'
    .ql-picker-label[data-value=monospace]::before,
    .ql-picker-item[data-value=monospace]::before
      content: 'Monospace'
    .ql-picker-item[data-value=serif]::before
      font-family: Georgia, Times New Roman, serif;
    .ql-picker-item[data-value=monospace]::before
      font-family: Monaco, Courier New, monospace;
*/

/*** Docs ***/

body:not(.home) .feature.row {
  margin-top: 50px;
}

body:not(.home) .feature h2 {
  margin-bottom: 40px;
  white-space: nowrap;
}

body:not(.home) .feature .github-button {
  margin-top: 32px;
}
body:not(.home) .navbar-list .download-item .action:hover {
  background-color: #fff;
  border: none;
  color: #1d1e30;
}
body:not(.home) .navbar-link:before {
  background-color: #fff;
}

.edit-link {
  display: inline-block;
  float: right;
  font-family: "Sofia Pro", sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  letter-spacing: 0.1rem;
  line-height: 32px;
  text-decoration: underline;
  text-transform: uppercase;
}
.edit-link svg {
  float: right;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
}

#sidebar-container {
  font-family: "Sofia Pro", sans-serif;
  font-size: 13px;
  margin-top: 160px;
  text-transform: uppercase;
}

#sidebar-container ul {
  list-style: none;
}
#sidebar-container > ul {
  list-style: none;
}
#sidebar-container > ul ul {
  margin: 1rem 0px 0px 55px;
}
#sidebar-container > ul > li > a {
  padding-left: 18px;
  padding-top: 2px;
}
#sidebar-container > ul > li.active > a {
  border-left: 3px solid #1d1e30;
  padding-left: 15px;
}
#sidebar-container li.active > a {
  color: #1d1e30;
}
#sidebar-container a {
  color: #9a9dae;
  display: block;
}
#sidebar-container a:hover {
  color: #1d1e30;
}

#docs-container {
  margin-bottom: 42px;
  margin-top: 42px;
}
#docs-container .breadcrumb {
  font-size: 15px;
}
#docs-container .breadcrumb span:first-child {
  font-weight: bold;
}
#docs-container hr {
  margin-left: -2%;
  width: 104%;
}
#docs-container h1:first-of-type {
  margin-bottom: 15px;
  margin-top: 44px;
}

#content-container {
  margin-bottom: 120px;
  max-width: 800px;
}

#pagination-container {
  max-width: 800px;
}
#pagination-container .prev,
#pagination-container .next,
#pagination-container .label,
#pagination-container .arrow {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
#pagination-container .prev,
#pagination-container .prev .label,
#pagination-container .prev .arrow {
  float: left;
}
#pagination-container .next,
#pagination-container .next .label,
#pagination-container .next .arrow {
  float: right;
}
#pagination-container .label {
  font-weight: bold;
}
#pagination-container .arrow {
  padding: 10px 20px;
}
#pagination-container .shaft {
  background-color: #000;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  display: inline-block;
  float: left;
  height: 10px;
  width: 20px;
}
#pagination-container .tip {
  display: inline-block;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
#pagination-container .prev .tip {
  float: left;
  border-right: 10px solid #000;
}
#pagination-container .next .tip {
  float: right;
  border-left: 10px solid #000;
}
#pagination-container .prev:after {
  content: "Previous";
  font-size: 30px;
  font-weight: bold;
}
#pagination-container .next:before {
  content: "Next";
  font-size: 30px;
  font-weight: bold;
}


/*** Playground ***/

#playground-container {
  margin-bottom: 100px;
  margin-top: 100px;
}


/*** Blog Container ***/

#blog-container {
  margin-top: 100px;
  max-width: 800px;
}
#blog-container .post-meta {
  margin-bottom: 50px;
  text-align: center;
}
#blog-container .post-meta,
#blog-container .post-meta a {
  color: #939598;
}
#blog-container h1 {
  font-size: 42px;
  margin-bottom: 0px;
  text-align: center;
}
#blog-container .post-item hr {
  margin-bottom: 100px;
  margin-top: 50px;
}
#blog-container p a {
  text-decoration: underline;
}
#blog-container .more-link {
  display: inline-block;
  font-weight: bold;
  margin-top: 50px;
}


/*** Responsive Rules ***/

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-list .navbar-item, .navbar-list .download-item {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  header .action {
    padding: 16px 26px;
  }
  .navbar-list li {
    margin-right: 2.5%;
  }
}
