- var colors = ["rgb(0, 0, 0)", "rgb(230, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 138, 0)", "rgb(0, 102, 204)", "rgb(153, 51, 255)", "rgb(255, 255, 255)", "rgb(250, 204, 204)", "rgb(255, 235, 204)", "rgb(255, 255, 204)", "rgb(204, 232, 204)", "rgb(204, 224, 245)", "rgb(235, 214, 255)", "rgb(187, 187, 187)", "rgb(240, 102, 102)", "rgb(255, 194, 102)", "rgb(255, 255, 102)", "rgb(102, 185, 102)", "rgb(102, 163, 224)", "rgb(194, 133, 255)", "rgb(136, 136, 136)", "rgb(161, 0, 0)", "rgb(178, 107, 0)", "rgb(178, 178, 0)", "rgb(0, 97, 0)", "rgb(0, 71, 178)", "rgb(107, 36, 178)", "rgb(68, 68, 68)", "rgb(92, 0, 0)", "rgb(102, 61, 0)", "rgb(102, 102, 0)", "rgb(0, 55, 0)", "rgb(0, 41, 102)", "rgb(61, 20, 102)"]

doctype html
html
  head
    title Quill Collaborative Demo
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='../quill.snow.css')
    style.
      .basic-wrapper, .advanced-wrapper {
        border: 1px solid #ccc;
        float: left;
        margin-left: 3%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .basic-wrapper {
        width: 40%;
      }
      .advanced-wrapper {
        width: 50%;
      }
      .editor-container {
        height: 400px;
      }
      .toolbar-container {
        border-bottom: 1px solid #ccc;
      }
      .basic-wrapper .toolbar-container {
        padding: 8px 14px;
      }
      .basic-wrapper .toolbar-container .ql-active, .basic-wrapper .toolbar-container button:active {
        color: green;
        font-weight: bold;
      }

  body
    #content-container
      .basic-wrapper
        .toolbar-container
          select.ql-font(title='Font')
            option(value='sans-serif', selected) Sans Serif
            option(value='Georgia, serif') Serif
            option(value='Monaco, \'Courier New\', monospace') Monospace
          select.ql-size(title='Size')
            option(value='10px') Small
            option(value='13px', selected) Normal
            option(value='18px') Large
            option(value='32px') Huge
          select.ql-align(title='Text Alignment')
            option(value='left', selected) Left
            option(value='center') Center
            option(value='right') Right
            option(value='justify') Justify
          button.ql-bold(title='Bold') Bold
          button.ql-italic(title='Italic') Italic
          button.ql-underline(title='Underline') Under
          button.ql-list(title='List') List
        .editor-container

      .advanced-wrapper
        .toolbar-container
          span.ql-format-group
            select.ql-font(title='Font')
              option(value='sans-serif', selected) Sans Serif
              option(value='Georgia, serif') Serif
              option(value='Monaco, \'Courier New\', monospace') Monospace
            select.ql-size(title='Size')
              option(value='10px') Small
              option(value='13px', selected) Normal
              option(value='18px') Large
              option(value='32px') Huge
          span.ql-format-group
            span.ql-format-button.ql-bold(title='Bold')
            span.ql-format-separator
            span.ql-format-button.ql-italic(title='Italic')
            span.ql-format-separator
            span.ql-format-button.ql-underline(title='Underline')
          span.ql-format-group
            each c in ['ql-color', 'ql-background']
              select(class=c, title=(c=='ql-color'?'Text Color':'Background Color'))
                each color,i in colors
                  option(value=color, selected=((c == 'ql-color' && color == 'rgb(0, 0, 0)') || (c == 'ql-background' && color == 'rgb(255, 255, 255)') ? true : false))
              if c == 'ql-color'
              span.ql-format-separator
            select.ql-align(title='Text Alignment')
              option(value='left', selected)
              option(value='center')
              option(value='right')
              option(value='justify')
          span.ql-format-group
            span.ql-format-button.ql-link(title='Link')
            span.ql-format-separator
            span.ql-format-button.ql-image(title='Image')
            span.ql-format-separator
            span.ql-format-button.ql-list(title='List')
        .editor-container

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
    script(type='text/javascript', src='../quill.js')
    script(type='text/javascript').
      var quillBasic = new Quill('.basic-wrapper .editor-container', {
        modules: {
          // authorship: { authorId: 'basic' },
          toolbar: { container: '.basic-wrapper .toolbar-container' }
        },
        theme: false
      });

      var quillAdvanced = new Quill('.advanced-wrapper .editor-container', {
        modules: {
          // 'authorship': { authorId: 'advanced', enabled: true },
          'toolbar': { container: '.advanced-wrapper .toolbar-container' },
          // 'link-tooltip': true,
          // 'image-tooltip': true,
          // 'multi-cursor': true
        },
        styles: false,
        theme: 'snow'
      });

      // var authorship = quillAdvanced.getModule('authorship');
      // authorship.addAuthor('basic', 'rgba(255,153,51,0.4)');

      // var cursorManager = quillAdvanced.getModule('multi-cursor');
      // cursorManager.setCursor('basic', 0, 'basic', 'rgba(255,153,51,0.9)');

      quillBasic.on('selection-change', function(range) {
        console.info('basic', 'selection', range);
        // if (range != null) {
        //   cursorManager.moveCursor('basic', range.end);
        // }
      });

      quillBasic.on('text-change', function(delta, source) {
        if (source === 'api') return;
        console.info('basic', 'text', delta, source);
        quillAdvanced.updateContents(delta);
        var sourceDelta = quillBasic.getContents();
        var targetDelta = quillAdvanced.getContents();
        console.assert(_.isEqual(sourceDelta, targetDelta), "Editor diversion!", sourceDelta.ops, targetDelta.ops);
      });

      quillAdvanced.on('selection-change', function(range) {
        console.info('advanced', 'selection', range);
      });

      quillAdvanced.on('text-change', function(delta, source) {
        if (source === 'api') return;
        console.info('advanced', 'text', delta, source);
        quillBasic.updateContents(delta);
        var sourceDelta = quillAdvanced.getContents();
        var targetDelta = quillBasic.getContents();
        console.assert(_.isEqual(sourceDelta, targetDelta), "Editor diversion!", sourceDelta.ops, targetDelta.ops);
      });

