doctype html
html
  head
    title Quill Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    meta(charset='utf-8')

  body
    #content-container
      #editor-wrapper
        #formatting-container
          select.ql-font(title='Font')
            option(value='sans-serif', selected) Sans Serif
            option(value='Georgia, serif') Serif
            option(value='Monaco, \'Courier New\', monospace') Monospace
          select.ql-size(title='Size')
            option(value='10px') Small
            option(value='13px', selected) Normal
            option(value='18px') Large
            option(value='32px') Huge
          select.ql-color(title='Text Color')
            option(value='rgb(255, 255, 255)') White
            option(value='rgb(0, 0, 0)', selected) Black
            option(value='rgb(255, 0, 0)') Red
            option(value='rgb(0, 0, 255)') Blue
            option(value='rgb(0, 255, 0)') Lime
            option(value='rgb(0, 128, 128)') Teal
            option(value='rgb(255, 0, 255)') Magenta
            option(value='rgb(255, 255, 0)') Yellow
          select.ql-background(title='Background Color')
            option(value='rgb(255, 255, 255)', selected) White
            option(value='rgb(0, 0, 0)') Black
            option(value='rgb(255, 0, 0)') Red
            option(value='rgb(0, 0, 255)') Blue
            option(value='rgb(0, 255, 0)') Lime
            option(value='rgb(0, 128, 128)') Teal
            option(value='rgb(255, 0, 255)') Magenta
            option(value='rgb(255, 255, 0)') Yellow
          select.ql-align(title='Text Alignment')
            option(value='left', selected) Left
            option(value='center') Center
            option(value='right') Right
            option(value='justify') Justify
          button.ql-format-button.ql-bold(title='Bold') Bold
          button.ql-format-button.ql-italic(title='Italic') Italic
          button.ql-format-button.ql-underline(title='Underline') Under
          button.ql-format-button.ql-strike(title='Strikethrough') Strike
          button.ql-format-button.ql-superscript(title='Superscript') Super
          button.ql-format-button.ql-subscript(title='Subscript') Sub
          button.ql-format-button.ql-link(title='Link') Link
          button.ql-format-button.ql-image(title='Image') Image
          button.ql-format-button.ql-bullet(title='Bullet') Bullet
          button.ql-format-button.ql-list(title='List') List
        #editor-container

    script(type='text/javascript', src='../quill.js')
    script(type='text/javascript').
      var editor = new Quill('#editor-container', {
        modules: {
          'toolbar': { container: '#formatting-container' },
          'link-tooltip': true,
          'image-tooltip': true
        }
      });
      editor.on('selection-change', function(range) {
        console.log('selection-change', range)
      });
      editor.on('text-change', function(delta, source) {
        console.log('text-change', delta, source)
      });
