// Styles shared between snow and bubble

controlHeight = 24px
inputPaddingWidth = 5px
inputPaddingHeight = 3px

colorItemMargin = 2px
colorItemSize = 16px
colorItemsPerRow = 7

toolbtnHoverBgColor = #EBF1F5
toolbtnActiveBgColor = #D8E1E8


.ql-{themeName}.ql-toolbar, .ql-{themeName} .ql-toolbar
  display: flex
  align-items: center
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  &:after
    clear: both
    content: ''
    display: table

  button
    background: none
    border: none
    cursor: pointer
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    min-width: 20px
    min-height: 20px
    padding: 2px
    margin-left: 2px
    margin-right: 2px
    border-radius: 3px
    svg
      height: 20px
      width: 20px
    &:active:hover
      outline: none
  
  button.ql-disabled
    color: #999
    .ql-fill
      fill: #bbb
    .ql-stroke
      stroke: #bbb

  input.ql-image[type=file]
    display: none

  button:hover, 
  button:focus,
  .ql-picker-label:hover,
  .ql-picker-item:hover
    background-color: toolbtnHoverBgColor

  button.ql-active,
  .ql-picker-label.ql-active,
  .ql-picker-item.ql-selected
    background-color: toolbtnActiveBgColor
    .ql-fill, .ql-stroke.ql-fill
      fill: activeColor
    .ql-stroke, .ql-stroke-miter
      stroke: activeColor

// Fix for iOS not losing hover on touch
@media (pointer: coarse)
  .ql-{themeName}.ql-toolbar, .ql-{themeName} .ql-toolbar
    button:hover:not(.ql-active)
      color: inactiveColor
      .ql-fill, .ql-stroke.ql-fill
        fill: inactiveColor
      .ql-stroke, .ql-stroke-miter
        stroke: inactiveColor

.ql-{themeName}
  box-sizing: border-box
  *
    box-sizing: border-box

  .ql-hidden
    display: none
  .ql-out-bottom, .ql-out-top
    visibility: hidden

  .ql-tooltip
    position: absolute
    transform: translateY(10px)
    a
      cursor: pointer
      text-decoration: none
  .ql-tooltip.ql-flip
    transform: translateY(-10px)

  .ql-formats
    &:after
      clear: both
      content: ''
      display: table
    display: flex
    align-items: center
    flex-wrap: nowrap
    padding: 0
    margin-left: 3px
    margin-right: 3px

  .ql-stroke
    fill: none
    stroke: inactiveColor
    stroke-linecap: round
    stroke-linejoin: round
    stroke-width: 2
  .ql-stroke-miter
    fill: none
    stroke: inactiveColor
    stroke-miterlimit: 10
    stroke-width: 2

  .ql-fill, .ql-stroke.ql-fill
    fill: inactiveColor

  .ql-empty
    fill: none
  .ql-even
    fill-rule: evenodd
  .ql-thin, .ql-stroke.ql-thin
    stroke-width: 1
  .ql-transparent
    opacity: 0.4

  .ql-direction
    svg:last-child
      display: none
  .ql-direction.ql-active
    svg:last-child
      display: inline
    svg:first-child
      display: none

  .ql-editor
    h1
      font-size: 2em
    h2
      font-size: 1.5em
    h3
      font-size: 1.17em
    h4
      font-size: 1em
    h5
      font-size: 0.83em
    h6
      font-size: 0.67em
    a
      text-decoration: underline
    p
      line-height: 1.5
    blockquote
      border-left: 4px solid #ccc
      margin-bottom: 5px
      margin-top: 5px
      padding-left: 16px
    code, .ql-code-block-container
      background-color: #f0f0f0
      border-radius: 3px
    .ql-code-block-container
      margin-bottom: 5px
      margin-top: 5px
      padding: 5px 10px
    code
      font-size: 85%
      padding: 2px 4px
    .ql-code-block-container
      background-color: #23241f
      color: #f8f8f2
      overflow: visible
    img
      max-width: 100%
      border: 0 none

  .ql-picker
    border-radius: 3px
    font-size: inherit
    font-weight: 200
    position: relative
    margin-left: 2px
    margin-right: 2px
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  .ql-picker-label
    border-radius: 3px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: nowrap
    min-width: 20px
    min-height: 20px
    padding: 2px
    position: relative
    font-size: 0.875rem
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &::before
      display: block
      text-align: left
      line-height: 20px
    svg
      width: 20px
      height: 20px
  
  .ql-picker-options
    background-color: backgroundColor
    border: 0 none
    -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1),0 1px 1px rgba(16,22,26,.2),0 2px 6px rgba(16,22,26,.2)
    box-shadow: 0 0 0 1px rgba(16,22,26,.1),0 1px 1px rgba(16,22,26,.2),0 2px 6px rgba(16,22,26,.2)
    display: none
    min-width: 100%
    padding: 3px
    border-radius: 3px
    position: absolute
    white-space: nowrap
    line-height: 1.0
    .ql-picker-item
      cursor: pointer
      display: block
      padding: 8px 10px
      font-size: 0.875rem
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      border-radius: 3px
  .ql-picker.ql-expanded
    .ql-picker-label
      z-index: 2
      .ql-fill
        fill: borderColor
      .ql-stroke
        stroke: borderColor
    .ql-picker-options
      display: block
      top: 100%
      z-index: 10

  .ql-color-picker, 
  .ql-icon-picker
    .ql-picker-label
      padding: 2px
  
  .ql-icon-picker
    .ql-picker-options
      padding: 4px
    .ql-picker-item
      min-height: 20px
      min-width: 20px
      padding: 2px
  
  .ql-color-picker
    .ql-picker-options
      padding: inputPaddingHeight inputPaddingWidth
      width: (colorItemSize + 2*colorItemMargin) * colorItemsPerRow + 2*inputPaddingWidth + 2  // +2 for the border
    .ql-picker-item
      border: 1px solid transparent
      float: left
      height: colorItemSize
      margin: colorItemMargin
      padding: 0px
      width: colorItemSize

  .ql-align
    .ql-picker-options
        padding: 5px
        min-width: 106px;
        left: 50%
        transform: translateX(-50%)
      .ql-picker-item
        float: left
        display: inline-block
        padding: 2px
        line-height: 1.0
        svg
          width: 20px
          height: 20px

  .ql-picker:not(.ql-color-picker):not(.ql-icon-picker)
    svg
      position: absolute
      margin-top: -9px
      right: 2px
      top: 50%
      width: 16px

  .ql-picker.ql-header, .ql-picker.ql-font, .ql-picker.ql-size
    .ql-picker-label[data-label]:not([data-label='']),
    .ql-picker-item[data-label]:not([data-label=''])
      &::before
        content: attr(data-label)

  .ql-picker.ql-header
    width: 70px
    .ql-picker-label
      justify-content: flex-start
      text-align: left
    .ql-picker-label::before
      padding: 0 10px 0 3px
      overflow: hidden
      text-overflow: ellipsis
    .ql-picker-label::before,
    .ql-picker-item::before
      content: '正文'
    for num in (1..6)
      .ql-picker-label[data-value=\"{num}\"]::before,
      .ql-picker-item[data-value=\"{num}\"]::before
        content: '标题 ' + num
    .ql-picker-item[data-value="1"]::before
      font-size: 2em
    .ql-picker-item[data-value="2"]::before
      font-size: 1.5em
    .ql-picker-item[data-value="3"]::before
      font-size: 1.17em
    .ql-picker-item[data-value="4"]::before
      font-size: 1em
    .ql-picker-item[data-value="5"]::before
      font-size: 0.83em
    .ql-picker-item[data-value="6"]::before
      font-size: 0.67em

  .ql-picker.ql-font
    width: 100px
    .ql-picker-label
      justify-content: flex-start
      text-align: left
    .ql-picker-label::before
      padding: 0 10px 0 3px
      overflow: hidden
      text-overflow: ellipsis
    .ql-picker-label::before,
    .ql-picker-item::before
      content: '默认字体'
    .ql-picker-label[data-value=serif]::before,
    .ql-picker-item[data-value=serif]::before
      content: 'Serif'
    .ql-picker-label[data-value=monospace]::before,
    .ql-picker-item[data-value=monospace]::before
      content: 'Monospace'
    .ql-picker-item[data-value=serif]::before
      font-family: Georgia, Times New Roman, serif
    .ql-picker-item[data-value=monospace]::before
      font-family: Monaco, Courier New, monospace
    .ql-picker-label[data-value='Microsoft YaHei']::before,
    .ql-picker-item[data-value='Microsoft YaHei']::before
      content: '微软雅黑'
      font-family: 'Microsoft YaHei'
    .ql-picker-label[data-value='SimSun']::before,
    .ql-picker-item[data-value='SimSun']::before
      content: '宋体'
      font-family: 'SimSun'
    .ql-picker-label[data-value='NSimSun']::before,
    .ql-picker-item[data-value='NSimSun']::before
      content: '新宋体'
      font-family: 'NSimSun'
    .ql-picker-label[data-value='FangSong']::before,
    .ql-picker-item[data-value='FangSong']::before
      content: '仿宋'
      font-family: 'FangSong'
    .ql-picker-label[data-value='KaiTi']::before,
    .ql-picker-item[data-value='KaiTi']::before
      content: '楷体'
      font-family: 'KaiTi'
    .ql-picker-label[data-value='SimHei']::before,
    .ql-picker-item[data-value='SimHei']::before
      content: '黑体'
      font-family: 'SimHei'
    .ql-picker-label[data-value='Arial']::before,
    .ql-picker-item[data-value='Arial']::before
      content: 'Arial'
      font-family: 'Arial'
    .ql-picker-label[data-value='Arial Black']::before,
    .ql-picker-item[data-value='Arial Black']::before
      content: 'Arial Black'
      font-family: 'Arial Black'
    .ql-picker-label[data-value='Times New Roman']::before,
    .ql-picker-item[data-value='Times New Roman']::before
      content: 'Times New Roman'
      font-family: 'Times New Roman'
    .ql-picker-label[data-value='Courier New']::before,
    .ql-picker-item[data-value='Courier New']::before
      content: 'Courier New'
      font-family: 'Courier New'
    .ql-picker-label[data-value='Tahoma']::before,
    .ql-picker-item[data-value='Tahoma']::before
      content: 'Tahoma'
      font-family: 'Tahoma'
    .ql-picker-label[data-value='Verdana']::before,
    .ql-picker-item[data-value='Verdana']::before
      content: 'Verdana'
      font-family: 'Verdana'


  .ql-picker.ql-size
    width: 90px
    .ql-picker-label
      justify-content: flex-start
      text-align: left
    .ql-picker-label::before
      padding: 0 10px 0 3px
      overflow: hidden
      text-overflow: ellipsis
    .ql-picker-label::before,
    .ql-picker-item::before
      content: '默认大小'
    .ql-picker-label[data-value=small]::before,
    .ql-picker-item[data-value=small]::before
      content: 'Small'
    .ql-picker-label[data-value=large]::before,
    .ql-picker-item[data-value=large]::before
      content: 'Large'
    .ql-picker-label[data-value=huge]::before,
    .ql-picker-item[data-value=huge]::before
      content: 'Huge'
    .ql-picker-item[data-value=small]::before
      font-size: 10px
    .ql-picker-item[data-value=large]::before
      font-size: 18px
    .ql-picker-item[data-value=huge]::before
      font-size: 32px
    .ql-picker-label[data-value='9px']::before,
    .ql-picker-item[data-value='9px']::before
      content: '9'
    .ql-picker-label[data-value='10px']::before,
    .ql-picker-item[data-value='10px']::before
      content: '10'
    .ql-picker-label[data-value='12px']::before,
    .ql-picker-item[data-value='12px']::before
      content: '12'
    .ql-picker-label[data-value='14px']::before,
    .ql-picker-item[data-value='14px']::before
      content: '14'
    .ql-picker-label[data-value='16px']::before,
    .ql-picker-item[data-value='16px']::before
      content: '16'
    .ql-picker-label[data-value='18px']::before,
    .ql-picker-item[data-value='18px']::before
      content: '18'
    .ql-picker-label[data-value='20px']::before,
    .ql-picker-item[data-value='20px']::before
      content: '20'
    .ql-picker-label[data-value='22px']::before,
    .ql-picker-item[data-value='22px']::before
      content: '22'
    .ql-picker-label[data-value='24px']::before,
    .ql-picker-item[data-value='24px']::before
      content: '24'
    .ql-picker-label[data-value='26px']::before,
    .ql-picker-item[data-value='26px']::before
      content: '26'
    .ql-picker-label[data-value='28px']::before,
    .ql-picker-item[data-value='28px']::before
      content: '28'
    .ql-picker-label[data-value='30px']::before,
    .ql-picker-item[data-value='30px']::before
      content: '30'
    .ql-picker-label[data-value='36px']::before,
    .ql-picker-item[data-value='36px']::before
      content: '36'
    .ql-picker-label[data-value='48px']::before,
    .ql-picker-item[data-value='48px']::before
      content: '48'
    .ql-picker-label[data-value='72px']::before,
    .ql-picker-item[data-value='72px']::before
      content: '72'


  .ql-color-picker.ql-background
    .ql-picker-item
      background-color: #fff
  .ql-color-picker.ql-color
    .ql-picker-item
      background-color: #000

.ql-code-block-container
  position: relative
  .ql-ui
    right: 5px
    top: 5px


.ql-toolbartip
  position: absolute
  z-index: 200
  background-color: rgba(0,0,0,0.7)
  color: #fff
  padding: 5px 10px
  line-height: 1.2
  font-size: 0.875rem
  min-width: 30px
  border-radius: 3px
  &:before
    content: ""
    position: absolute
    top: -6px
    left: 50%
    transform: translateX(-50%)
    border-width: 0 6px 6px 6px
    border-style: solid
    border-color: transparent transparent rgba(0,0,0,0.7) transparent
    z-index: 99
