activeColor = #fff
borderColor = #777
backgroundColor = #444
inactiveColor = #ccc
shadowColor = #ddd
textColor = #fff

@import './core'
@import './bubble/*'

.ql-bubble
  box-sizing: border-box

  *
    box-sizing: border-box
