themeName = 'cuco'
activeColor = #0086a8
borderColor = #ccc
backgroundColor = #fff
inactiveColor = #444
shadowColor = #ddd
textColor = #444

@import './core'
@import './base'
@import './cuco/*'

.ql-cuco
  a
    color: activeColor

.ql-container.ql-cuco
  border: 1px solid borderColor
