activeColor = #06c
borderColor = #ccc
darkColor = #444
shadowColor = #ddd
whiteColor = #fff

@import './core'
@import './snow/*'

.ql-container.ql-snow
  a
    color: activeColor
  *
    box-sizing: border-box

  border: 1px solid borderColor
