themeName = 'snow'
activeColor = #06c
borderColor = #ccc
backgroundColor = #fff
inactiveColor = #464D5A
shadowColor = #ddd
textColor = #464D5A

@import './core'
@import './base'
@import './snow/*'

.ql-snow
  a
    color: activeColor

