!!! 5
%html
  %head
    %title Stypi iPhone Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %meta{:name=> 'viewport', :content => 'initial-scale=1.0, width=device-width, user-scalable=no'}

%body
  #content-container
    .editor-wrapper
      #editor-container.editor-container
        .line<>
          %span<> iPhone DEMO
          %span<> Word1
        .line<>
          %span<> Line 2
          %span<> Word2
        .line<>
          %span<> Line 3
          %span<> Word3
        .line<>
          %span<> Line 4
          %span<> Word4

  %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
  %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
  %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
  %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
  %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
  %script{:type => 'text/javascript', :src => '../lib/jetsync.js'}
  %script{:type => 'text/javascript', :src => '../src/utils.js'}
  %script{:type => 'text/javascript', :src => '../src/leaf.js'}
  %script{:type => 'text/javascript', :src => '../src/line.js'}
  %script{:type => 'text/javascript', :src => '../src/document.js'}
  %script{:type => 'text/javascript', :src => '../src/position.js'}
  %script{:type => 'text/javascript', :src => '../src/range.js'}
  %script{:type => 'text/javascript', :src => '../src/editor.js'}
  %script{:type => 'text/javascript', :src => '../src/toolbar.js'}
  %script{:type => 'text/javascript', :src => '../src/debug.js'}

  :javascript
    editor = new Tandem.Editor('editor-container');
    toolbar = new Tandem.Toolbar(editor)

    editor.on(editor.events.USER_SELECTION_CHANGE, function(s){
      attributes = s.getAttributes()

      var data = {hello: 'there'};

      $.post('/ios-message', {json: JSON.stringify(data)}, function(data) {
        //alert('got response: ' + data); 
      });

    });
