LIST_STYLE = decimal lower-alpha lower-roman
MAX_INDENT = 8

resets(arr)
  unquote('list-' + join(' list-', arr))

.ql-container
  box-sizing: border-box
  cursor: text
  font-family: Helvetica, 'Arial', sans-serif
  font-size: 13px
  height: 100%
  line-height: 1.42
  margin: 0px
  overflow-x: hidden
  overflow-y: auto
  padding: 12px 15px
  position: relative

.ql-paste-manager
  left: -100000px
  position: absolute
  top: 50%

.ql-toolbar
  box-sizing: border-box

.ql-editor
  box-sizing: border-box
  min-height: 100%
  outline: none
  tab-size: 4
  white-space: pre-wrap
  img
    max-width: 100%
  p
    margin: 0
    padding: 0
  p, ol, ul, pre, blockquote
    counter-reset: resets(1..MAX_INDENT)
  ol
    list-style-type: none
    li
      counter-increment: unquote('list-' + num)
      &:before
        content: unquote('counter(list-' + num + ', ' + LIST_STYLE[0] + ')') '. '
      counter-reset: resets(1..MAX_INDENT)
    for num in (1..MAX_INDENT)
      li.indent-{num}
        counter-increment: unquote('list-' + num)
        &:before
          content: unquote('counter(list-' + num + ', ' + LIST_STYLE[num%3] + ')') '. '
      if (num < MAX_INDENT)
        li.indent-{num}
          counter-reset: resets((num+1)..MAX_INDENT)
  ol, ul
    margin: 0
    padding-left: 20px
    for num in (1..MAX_INDENT)
      li.indent-{num}
        padding-left: (40 * num)px
