// Make sure relative modules folder is included in both base and custom theme
@import '../base/modules/*'

.ql-container
  box-sizing: border-box
  cursor: text
  font-family: Helvetica, 'Arial', sans-serif
  font-size: 13px
  height: 100%
  line-height: 1.42
  margin: 0px
  overflow-x: hidden
  overflow-y: auto
  position: relative

.ql-editor
  box-sizing: border-box
  min-height: 100%
  outline: none
  padding: 12px 15px
  tab-size: 4
  white-space: pre-wrap
  div
    margin: 0
    padding: 0
  a
    text-decoration: underline
  b
    font-weight: bold
  i
    font-style: italic
  s
    text-decoration: line-through
  u
    text-decoration: underline
  img
    max-width: 100%
  blockquote, ol, ul
    margin: 0 0 0 2em
    padding: 0
  ol
    list-style-type: decimal
  ul
    list-style-type: disc
