.ql-bubble {
  .ql-tooltip {
    background-color: var(--ql-background-color);
    border-radius: 25px;
    color: var(--ql-text-color);
  }

  .ql-tooltip-arrow {
    border-left: $arrowWidth solid transparent;
    border-right: $arrowWidth solid transparent;
    content: ' ';
    display: block;
    left: 50%;
    margin-left: -1 * $arrowWidth;
    position: absolute;
  }

  .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
    border-bottom: $arrowWidth solid var(--ql-background-color);
    top: -1 * $arrowWidth;
  }

  .ql-tooltip.ql-flip .ql-tooltip-arrow {
    border-top: $arrowWidth solid var(--ql-background-color);
    bottom: -1 * $arrowWidth;
  }

  .ql-tooltip.ql-editing {
    .ql-tooltip-editor {
      display: block;
    }
    .ql-formats {
      visibility: hidden;
    }
  }

  .ql-tooltip-editor {
    display: none;

    input[type='text'] {
      background: transparent;
      border: none;
      color: var(--ql-text-color);
      font-size: 13px;
      height: 100%;
      outline: none;
      padding: 10px 20px;
      position: absolute;
      width: 100%;
    }

    a {
      top: 10px;
      position: absolute;
      right: 20px;
      
      &:before {
        color: var(--ql-inactive-color);
        content: '\00D7';
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
