
.mention {
  display: inline-block;
  color: rgb(168, 159, 255) !important;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 4px;
  background-color: rgb(34, 27, 83);
  cursor: pointer;
  text-decoration: none !important;
}
