.container {
  margin: 24px 0 32px;
  transition: opacity 0.2s;
}

.bar {
  display: flex;
  margin: 0 0 10px;

  .togglePreviewButton {
    margin-left: auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  $borderColor: #dadcdc;

  .editorWrapper {
    border: 1px solid $borderColor;
    position: relative;
    max-height: 480px;
    display: flex;
    flex-direction: column;

    .codeArea {
      display: flex;
      flex-direction: row;
      min-height: 0;
    }

    .fileTree {
      border-right: 1px solid $borderColor;
      width: 200px;
      overflow: auto;
    }

    .editor {
      display: flex;
      flex: 1;
    }

    .editorFooter {
      background: var(--color-bg-inset);
      padding: 8px 12px;
      border-top: 1px solid $borderColor;

      button {
        font-family: 'Sofia Pro', sans-serif;
        font-weight: bold;
        border: 0;
        border-radius: 2px;
        padding: 8px 12px;
        transition: all 0.2s;
        background: var(--color-accent);
        border: 2px solid transparent;

        &:hover {
          background: white;
          border: 2px solid var(--color-accent);
        }

        &:active {
          border: 2px solid var(--color-accent-emphasis);
        }
      }
    }
  }
  .preview {
    border: 1px solid #ccc;
    border-top: 0;
    min-height: 283px;
    display: flex;
  }
}

.widget {
  border: 1px solid #1ea7fd;
  border-radius: 2px;
  padding: 2px 4px 2px 12px;
  margin-left: 6px;
  position: relative;
  cursor: pointer;
}

.widget:before {
  content: attr(data-id);
  background: #1ea7fd;
  border-radius: 100%;
  position: absolute;
  width: 16px;
  display: block;
  height: 16px;
  left: -8px;
  top: 2px;
  font-size: 11px;
  text-align: center;
  color: white;
  line-height: 17px;
}
