.basic-wrapper, .advanced-wrapper
  border: 1px solid #ccc
  float: left
  margin-left: 3%
  margin-top: 15px
  margin-bottom: 15px

.basic-wrapper
  width: 40%

.advanced-wrapper
  width: 50%

.editor-container
  height: 400px

.toolbar-container
  border-bottom: 1px solid #ccc

.toolbar-container .sc-format-group
  margin-right: 10px

.basic-wrapper .toolbar-container
  .sc-active, button:hover
    color: green
    font-weight: bold
