.editor-wrapper
  border: 1px solid #ccc
  float: left
  margin-left: 3%
  margin-top: 15px
  width: 45.5%

.editor-container
  height: 400px

.toolbar-container
  border-bottom: 1px solid #ccc

.toolbar-container .sc-format-group
  margin-right: 10px
