blueColor = #06c

@font-face
  font-family: 'fa-editor'
  font-style: normal
  font-weight: normal
  src: url('../../../src/themes/snow/assets/fa-editor.eot') format('embedded-opentype'), url('../../../src/themes/snow/assets/fa-editor.woff') format('woff')

html, body
  height: 100%
  margin: 0px
  padding: 0px

#content-container
  box-sizing: border-box
  height: 100%
  padding-top: 35px

#formatting-container
  background-color: #fff
  border-bottom: 1px solid #ccc
  height: 34px
  margin-top: -35px
  width: 100%
  .sc-format-button
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer
    display: inline-block
    float: left
    font-family: 'fa-editor'
    font-size: 12px
    height: 34px
    line-height: 34px
    text-align: center
    width: 25%
  .sc-format-button:hover, .sc-format-button.sc-active
    color: blueColor
  .sc-format-button.sc-bold:before
    content: "\e801"
    font-weight: bold
  .sc-format-button.sc-italic:before
    content: "\e802"
  .sc-format-button.sc-underline:before
    content: "\e80f"
  .sc-format-button.sc-strike:before
    content: "\e80e"

#editor-container
  height: 100%
  overflow: hidden      // Some reason this is necessary
