.formatting-container
  height: 36px
  line-height: 32px
  padding: 0px 15px
  .format-group
    display: inline-block
    height: 24px
    line-height: 24px
    margin-right: 15px
    margin-top: 4px
    vertical-align: middle
  .format-button
    background-repeat: repeat-x
    display: inline-block
    height: 24px
  .format
    background-position: center center
    background-repeat: no-repeat
    border-right: 1px solid #ddd
    cursor: pointer
    display: inline-block
    height: 16px
    padding: 0px 6px
    vertical-align: middle
    width: 16px
  .format.last
    border-right: 0px

  .font-family
    margin-right: 10px
  .font-family, .font-size
    visibility: hidden
  .bold
    background-image: url(../images/bold.png)
  .italic
    background-image: url(../images/italic.png)
  .strike
    background-image: url(../images/strike.png)
  .underline
    background-image: url(../images/underline.png)
  .list
    background-image: url(../images/list-order.png)
  .bullet
    background-image: url(../images/list.png)
  .outdent
    background-image: url(../images/outdent.png)
  .indent
    background-image: url(../images/indent.png)
  .link
    background-image: url(../images/link.png)

  .format-button:hover, .format-button:active, .format-button.active
    .bold
      background-image: url(../images/bold-color.png)
    .italic
      background-image: url(../images/italic-color.png)
    .strike
      background-image: url(../images/strike-color.png)
    .underline
      background-image: url(../images/underline-color.png)
    .list
      background-image: url(../images/list-order-color.png)
    .bullet
      background-image: url(../images/list-color.png)
    .outdent
      background-image: url(../images/outdent-color.png)
    .indent
      background-image: url(../images/indent-color.png)
    .link
      background-image: url(../images/link-color.png)
