pickerPadding = 8px
pickerWidth = 50px
fontNamePickerWidth = 98px
fontSizePickerWidth = 75px

.toolbar-container
  border-bottom: 1px solid #ccc
  font-family: 'Helvetica', 'Arial', sans-serif
  font-size: 12px
  height: 36px
  line-height: 32px
  padding: 0px (15px - pickerPadding)
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  .format-group
    display: inline-block
    height: 24px
    line-height: 24px
    margin-right: 15px
    margin-top: 4px
    vertical-align: middle
  .format-button
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer
    display: inline-block
    height: 16px
    margin: 0px 7px
    vertical-align: middle
    width: 16px
  .format-separator
    border-right: 1px solid #ddd


.picker
  font-weight: bold
  position: relative
  .picker-label
    background: url('../images/arrows.png') no-repeat (pickerWidth - 2*pickerPadding) 6px
    cursor: pointer
    padding: 0px pickerPadding
  .picker-options
    background-color: #fff
    display: none
    padding: 0px pickerPadding
    .picker-item
      cursor: pointer
    .picker-item.selected, .picker-item:hover
      color: #06c
.picker.expanded
  .picker-label
    background-image: url('../images/arrows-inactive.png')
    border: 1px solid #ccc
    color: #ccc
    margin: -1px
  .picker-options
    border: 1px solid #ccc
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px
    display: block
    margin: -1px

.picker.color-picker
  .picker-label
    background-position: center center
    padding: 2px pickerPadding
  .picker-options
    height: 100px
    padding: 4px
    position: absolute
    width: 100px
    .picker-item
      float: left
      height: 16px
      margin: 4px
      width: 16px
    .picker-item.selected, .picker-item:hover
      border: 1px solid #000
      margin: 3px


.font-name
  width: fontNamePickerWidth
  .picker-label
    background-position-x: fontNamePickerWidth - 2*pickerPadding

.font-size
  width: fontSizePickerWidth
  .picker-label
    background-position-x: fontSizePickerWidth - 2*pickerPadding

.fore-color
  .picker-label
    background-image: url('../images/fore-color.png')
.fore-color.expanded
  .picker-label
    background-image: url('../images/fore-color-active.png')

.back-color
  .picker-label
    background-image: url('../images/back-color.png')


for $format in bold italic strike underline list bullet outdent indent link attribution
  .format-button.{$format}
    background-image: url('../images/' + $format + '.png')
  .format-button.{$format}:hover, .{$format}:active, .{$format}.active
    background-image: url('../images/' + $format + '-active.png')
