inputHeight = 16px
inputMargin = 3px
inputPadding = 4px
blackColor = #454545
blueColor = #06c
grayColor = #ccc
lightGrayColor = #ddd
fontNamePickerWidth = 98px
fontSizePickerWidth = 75px
pickerPadding = 8px
pickerWidth = 50px

@font-face
  font-family: 'fa-editor'
  font-style: normal
  font-weight: normal
  src: url('../fonts/fa-editor.eot') format('embedded-opentype'), url('../fonts/fa-editor.woff') format('woff')

.toolbar-container
  color: blackColor
  font-family: 'Helvetica', 'Arial', sans-serif
  font-size: 12px
  height: inputHeight + inputPadding
  padding: 8px (15px - pickerPadding)
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  .format-group
    display: inline-block
    float: left
    line-height: inputHeight
    margin-right: 15px
  .format-button
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer
    font-family: 'fa-editor'
    display: inline-block
    float: left
    height: inputHeight
    margin-left: inputMargin
    margin-right: inputMargin
    padding: inputPadding
    text-align: center
    width: 16px
  .format-separator
    background-color: lightGrayColor
    display: inline-block
    float: left
    height: inputHeight
    margin-bottom: inputPadding
    margin-top: inputPadding
    width: 1px

.picker
  display: inline-block
  font-weight: bold
  position: relative
  .picker-label
    background: url('../images/arrows.png') no-repeat (pickerWidth - 2*pickerPadding) center
    cursor: pointer
    padding: inputPadding pickerPadding
  .picker-label.active, .picker-label:hover
    background-image: url('../images/arrows-active.png')
    color: blueColor
  .picker-options
    background-color: #fff
    display: none
    padding: inputPadding pickerPadding
    position: absolute
    .picker-item
      cursor: pointer
      padding-bottom: inputPadding
      padding-top: inputPadding
    .picker-item.selected, .picker-item:hover
      color: blueColor
.picker.expanded
  .picker-label
    background-image: url('../images/arrows-inactive.png')
    border: 1px solid grayColor
    color: grayColor
    margin: -1px
  .picker-options
    border: 1px solid grayColor
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px
    display: block
    margin: -1px

.picker.color-picker
  float: left
  .picker-label
    background-position: center center
  .picker-options
    height: 106px
    margin-left: inputMargin
    margin-top: 24px
    padding: 6px
    position: absolute
    width: 140px
    .picker-item
      float: left
      height: 16px
      margin: 2px
      padding: 0px
      width: 16px
    .picker-item.selected, .picker-item:hover
      border: 1px solid #000
      margin: 1px
.picker.color-picker.expanded
  .picker-label
    margin-left: inputMargin - 1px
    margin-right: inputMargin - 1px
  .picker-options
    margin-left: inputMargin - 1px

.toolbar-container
  .format-button:hover, .format-button.active
    color: blueColor
  .format-button.bold:before
    content: "\e801"
    font-weight: bold
  .format-button.italic:before
    content: "\e802"
  .format-button.underline:before
    content: "\e80f"
  .format-button.strike:before
    content: "\e80e"
  .format-button.link:before
    content: "\e813"
  .format-button.attribution:before
    content: "\e816"

  .font-name
    width: fontNamePickerWidth
    .picker-label
      background-position: (fontNamePickerWidth - 2*pickerPadding) center
    .picker-options
      width: fontNamePickerWidth - 2*pickerPadding
  .font-size
    width: fontSizePickerWidth
    .picker-label
      background-position: (fontSizePickerWidth - 2*pickerPadding) center
    .picker-options
      width: fontSizePickerWidth - 2*pickerPadding

  .fore-color, .back-color
    .picker-options
      .picker-item.primary-color
        margin-bottom: 8px
      .picker-item.primary-color.selected, .picker-item.primary-color:hover
        margin-bottom: 7px

  for $format in fore-color back-color
    .picker.{$format} .picker-label
      background-image: url('../images/' + $format + '.png')
    .picker.{$format} .picker-label.active, .picker.{$format} .picker-label:hover, .picker.{$format}.expanded .picker-label
      background-image: url('../images/' + $format + '-active.png')
