.toolbar-container
  border-bottom: 1px solid #ccc
  font-family: 'Helvetica', 'Arial', sans-serif
  font-size: 12px
  height: 36px
  line-height: 32px
  padding: 0px 15px
  .format-group
    display: inline-block
    height: 24px
    line-height: 24px
    margin-right: 15px
    margin-top: 4px
    position: relative
    vertical-align: middle
  .format-button
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer
    display: inline-block
    height: 16px
    vertical-align: middle
    width: 29px
  .format-separator
    border-right: 1px solid #ddd
  //.font-name, .font-size
  //  visibility: hidden


pickerWidth = 50px
.picker
  background: #fff url('../images/arrows.png') no-repeat pickerWidth 6px
  font-weight: bold
  left: 0px
  padding: 0px 8px
  top: 0px
  width: pickerWidth
  li
    cursor: pointer
    display: none
  li.selected, li:hover
    display: block
  li:hover
    color: #06c
.picker.expanded
  background-image: url('../images/arrows-inactive.png')
  border: 1px solid #ccc
  li
    display: block
.picker:hover
  background-image: url('../images/arrows-active.png')
  color: #06c


fontNamePickerWidth = 85px
.picker.font-name
  background-position-x: fontNamePickerWidth
  width: fontNamePickerWidth

fontSizePickerWidth = 65px
.picker.font-size
  background-position-x: fontSizePickerWidth
  width: fontSizePickerWidth


for $format in bold italic strike underline fore-color back-color list bullet outdent indent link attribution
  .format-button.{$format}
    background-image: url('../images/' + $format + '.png')
  .format-button.{$format}:hover, .{$format}:active, .{$format}.active
    background-image: url('../images/' + $format + '-active.png')
