blackColor = #444
blueColor = #06c
grayColor = #ccc
lightGrayColor = #ddd
whiteColor = #fff

fontNamePickerWidth = 105px
fontSizePickerWidth = 80px
textAlignPickerWidth = 32px

inputSize = 12px
inputPadding = 6px
separatorMargin = 4px
inputHeight = inputSize + 2*inputPadding
toolbarPadding = 8px

colorItemMargin = 2px
colorItemWidth = 16px
colorItemsPerRow = 7

formatGroupMargin = 15px

formatInput =
  box-sizing: border-box
  display: inline-block
  height: inputHeight
  line-height: inputHeight
  vertical-align: middle


.ql-toolbar-container
  box-sizing: border-box
  padding: toolbarPadding toolbarPadding toolbarPadding - 1 toolbarPadding
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  .ql-format-group
    display: inline-block
    margin-right: formatGroupMargin
    vertical-align: middle
  .ql-format-separator
    box-sizing: border-box
    background-color: lightGrayColor
    display: inline-block
    height: inputHeight - inputPadding
    margin-left: separatorMargin
    margin-right: separatorMargin
    vertical-align: middle
    width: 1px
  .ql-format-button
    {formatInput}
    background-position: center center
    background-repeat: no-repeat
    box-sizing: border-box
    cursor: pointer
    text-align: center
    width: inputHeight

/* Fix for iOS not losing hover state after click */
.ql-toolbar-container.ios
  .ql-format-button:hover
    color: inherit
  .ql-format-button.ql-active, .ql-format-button.ql-on
    color: blueColor

.ql-picker
  box-sizing: border-box
  color: blackColor
  display: inline-block
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size: 14px
  font-weight: 500
  position: relative
  .ql-picker-label
    {formatInput}
    background-color: whiteColor
    background-position: center center
    background-repeat: no-repeat
    background-size: 18px 18px
    border: 1px solid transparent
    cursor: pointer
    padding-left: toolbarPadding
    padding-right: toolbarPadding
    position: relative
    width: 100%
  .ql-picker-label.ql-active, .ql-picker-label:hover
    color: blueColor
  .ql-picker-options
    background-color: whiteColor
    border: 1px solid transparent
    box-sizing: border-box
    display: none
    padding: 0.5*toolbarPadding toolbarPadding
    position: absolute
    width: 100%
    .ql-picker-item
      background-position: center center
      background-repeat: no-repeat
      background-size: 18px 18px
      box-sizing: border-box
      cursor: pointer
      display: block
      padding-bottom: inputPadding
      padding-top: inputPadding
    .ql-picker-item.ql-selected, .ql-picker-item:hover
      color: blueColor
.ql-picker.ql-expanded
  .ql-picker-label
    border-color: grayColor
    color: grayColor
    z-index: 2
  .ql-picker-options
    border-color: grayColor
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px
    display: block
    margin-top: -1px
    z-index: 1

.ql-picker.ql-color-picker
  width: inputHeight
  .ql-picker-label
    padding: 0px
  .ql-picker-options
    padding: inputPadding
    width: (colorItemWidth + 2*colorItemMargin) * colorItemsPerRow + 2*inputPadding + 2  // +2 for the border
    .ql-picker-item
      border: 1px solid transparent
      float: left
      height: colorItemWidth
      margin: colorItemMargin
      padding: 0px
      width: colorItemWidth
    .ql-picker-item.ql-primary-color
      margin-bottom: 8px
    .ql-picker-item.selected, .ql-picker-item:hover
      border-color: #000

.ql-picker.ql-font
  width: fontNamePickerWidth
.ql-picker.ql-size
  width: fontSizePickerWidth
.ql-picker.ql-font, .ql-picker.ql-size
  .ql-picker-label
    background-position: right center

.ql-picker.ql-align
  .ql-picker-label
    padding: 0px
    width: textAlignPickerWidth
  .ql-picker-item
    {formatInput}
    padding: 0px
    width: textAlignPickerWidth
  .ql-picker-options
    padding: 4px 0px


for $format in bold italic underline strike link image list bullet authorship
  .ql-{$format}.ql-format-button
    background-image: url('assets/' + $format + '.png')
  .ql-{$format}.ql-format-button:hover, .ql-{$format}.ql-format-button.ql-active
    background-image: url('assets/active/' + $format + '.png')
.ql-authorship.ql-on
  background-image: url('assets/active/authorship.png')

.ql-picker.ql-font, .ql-picker.ql-size
  .ql-picker-label
    background-image: url('assets/dropdown.png')
  .ql-picker-label:hover, .ql-picker-label.ql-active
    background-image: url('assets/active/dropdown.png')
.ql-picker.ql-font.ql-expanded, .ql-picker.ql-size.ql-expanded
  .ql-picker-label
    background-image: url('assets/dropdown.png')  // Should be gray

for $format in color background
  .ql-picker.ql-{$format} .ql-picker-label
    background-image: url('assets/' + $format + '.png')
  .ql-picker.ql-{$format} .ql-picker-label.ql-active, .ql-picker.ql-{$format} .ql-picker-label:hover, .ql-picker.ql-{$format}.ql-expanded .ql-picker-label
    background-image: url('assets/active/' + $format + '.png')

for $format in left right center justify
  .ql-picker-label[data-value={$format}], .ql-picker-item[data-value={$format}]
    background-image: url('assets/align-' + $format + '.png')
  .ql-active.ql-picker-label[data-value={$format}], .ql-selected.ql-picker-item[data-value={$format}], .ql-picker-item[data-value={$format}]:hover
    background-image: url('assets/active/align-' + $format + '.png')

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  for $format in bold italic underline strike link image list bullet authorship
    .ql-{$format}.ql-format-button
      background-image: url('assets/' + $format + '@2x.png')
    .ql-{$format}.ql-format-button:hover, .ql-{$format}.ql-format-button.ql-active
      background-image: url('assets/active/' + $format + '@2x.png')
  .ql-authorship.ql-on
    background-image: url('assets/active/authorship@2x.png')

  .ql-picker.ql-font, .ql-picker.ql-size
    .ql-picker-label
      background-image: url('assets/dropdown@2x.png')
    .ql-picker-label:hover, .ql-picker-label.ql-active
      background-image: url('assets/active/dropdown@2x.png')
  .ql-picker.ql-font.ql-expanded, .ql-picker.ql-size.ql-expanded
    .ql-picker-label
      background-image: url('assets/dropdown@2x.png')  // Should be gray

  for $format in color background
    .ql-picker.ql-{$format} .ql-picker-label
      background-image: url('assets/' + $format + '@2x.png')
    .ql-picker.ql-{$format} .ql-picker-label.ql-active, .ql-picker.ql-{$format} .ql-picker-label:hover, .ql-picker.ql-{$format}.ql-expanded .ql-picker-label
      background-image: url('assets/active/' + $format + '@2x.png')

  for $format in left right center justify
    .ql-picker-label[data-value={$format}], .ql-picker-item[data-value={$format}]
      background-image: url('assets/align-' + $format + '@2x.png')
    .ql-active.ql-picker-label[data-value={$format}], .ql-selected.ql-picker-item[data-value={$format}], .ql-picker-item[data-value={$format}]:hover
      background-image: url('assets/active/align-' + $format + '@2x.png')
