- var colors = ["#000000", "#e60000", "#ff9900", "#ffff00", "#008A00", "#0066cc", "#9933ff", "#ffffff", "#facccc", "#ffebcc", "#ffffcc", "#cce8cc", "#cce0f5", "#ebd6ff", "#bbbbbb", "#f06666", "#ffc266", "#ffff66", "#66b966", "#66a3e0", "#c285ff", "#888888", "#a10000", "#b26b00", "#b2b200", "#006100", "#0047b2", "#6b24b2", "#444444", "#5c0000", "#663d00", "#666600", "#003700", "#002966", "#3d1466"]

doctype html
html
  head
    title Scribe Pretty Editor Demo
    link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles/advanced.css')
    link(rel='stylesheet', type='text/css', href='styles/snow.css')
    meta(charset='utf-8')

  body
    #content-container
      each num in [1, 2]
        .editor-wrapper(class=(num == 1 ? 'first' : 'last'))
          .toolbar-container
            span.sc-format-group
              select.sc-font-name(title='Font')
                option(value='sans-serif', selected=true) Sans Serif
                option(value='serif') Serif
                option(value='monospace') Monospace
              select.sc-font-size(title='Size')
                option(value='small') Small
                option(value='normal', selected=true) Normal
                option(value='large') Large
                option(value='huge') Huge
            span.sc-format-group
              each c in ['sc-fore-color', 'sc-back-color']
                select(class=c, title=(c=='sc-fore-color'?'Text Color':'Background Color'))
                  each color,i in colors
                    option(value=color, selected=((c == 'sc-fore-color' && color == '#000000') || (c == 'sc-back-color' && color == '#ffffff') ? true : false))
                if c == 'sc-fore-color'
                  span.sc-format-separator
            span.sc-format-group
              span.sc-format-button.sc-bold(title='Bold')
              span.sc-format-separator
              span.sc-format-button.sc-italic(title='Italic')
              span.sc-format-separator
              span.sc-format-button.sc-underline(title='Underline')
              span.sc-format-separator
              span.sc-format-button.sc-strike(title='Strikethrough')
            span.sc-format-group
              span.sc-format-button.sc-link(title='Link')
            span.sc-format-group
              span.sc-format-button.sc-authorship(title='Authorship')
          #editor-container.editor-container
            include content

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
    script(type='text/javascript', src='../scribe.js')
    script(type='text/javascript', src='scripts/advanced.js')
