doctype 5
html
  head
    title Stypi Pretty Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/reset.css')
    link(rel='stylesheet', type='text/css', href='styles/advanced.css')
    meta(charset='utf-8')

  body
    #content-container
      each num in [1, 2]
        .editor-wrapper(class=(num == 1 ? 'first' : 'last'))
          .toolbar-container
            .format-group
              select.font-name
                option(value='sans-serif', selected=true) Sans Serif
                option(value='serif') Serif
                option(value='monospace') Monospace
            .format-group
              select.font-size
                option(value='small') Small
                option(value='normal', selected=true) Normal
                option(value='large') Large
                option(value='huge') Huge
            .format-group
              each c in ['fore-color', 'back-color']
                select(class=c)
                  option(value='black', selected=(c == 'fore-color' ? true : false))
                  option(value='white', selected=(c == 'back-color' ? true : false))
                  option(value='red')
                  option(value='blue')
                  option(value='lime')
                  option(value='teal')
                  option(value='magenta')
                  option(value='yellow')
                if c == 'fore-color'
                  span.format-separator
            .format-group
              span.format-button.bold
              span.format-separator
              span.format-button.italic
              span.format-separator
              span.format-button.underline
              span.format-separator
              span.format-button.strike
            .format-group
              span.format-button.link
            .format-group
              span.format-button.attribution
          #editor-container.editor-container
            include content

    script(type='text/javascript', src='../scribe.all.js')
    script(type='text/javascript', src='scripts/advanced.js')
