- var colors = ["#000000", "#e60000", "#ff9900", "#ffff00", "#008A00", "#0066cc", "#9933ff", "#ffffff", "#facccc", "#ffebcc", "#ffffcc", "#cce8cc", "#cce0f5", "#ebd6ff", "#bbbbbb", "#f06666", "#ffc266", "#ffff66", "#66b966", "#66a3e0", "#c285ff", "#888888", "#a10000", "#b26b00", "#b2b200", "#006100", "#0047b2", "#6b24b2", "#444444", "#5c0000", "#663d00", "#666600", "#003700", "#002966", "#3d1466"]

doctype 5
html
  head
    title Stypi Pretty Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/reset.css')
    link(rel='stylesheet', type='text/css', href='styles/advanced.css')
    link(rel='stylesheet', type='text/css', href='styles/snow.css')
    meta(charset='utf-8')

  body
    #content-container
      each num in [1, 2]
        .editor-wrapper(class=(num == 1 ? 'first' : 'last'))
          .toolbar-container
            span.format-group
              select.font-name(title='Font')
                option(value='sans-serif', selected=true) Sans Serif
                option(value='serif') Serif
                option(value='monospace') Monospace
              select.font-size(title='Size')
                option(value='small') Small
                option(value='normal', selected=true) Normal
                option(value='large') Large
                option(value='huge') Huge
            span.format-group
              each c in ['fore-color', 'back-color']
                select(class=c, title=(c=='fore-color'?'Text Color':'Background Color'))
                  each color,i in colors
                    option(value=color, selected=((c == 'fore-color' && color == '#000000') || (c == 'back-color' && color == '#ffffff') ? true : false))
                if c == 'fore-color'
                  span.format-separator
            span.format-group
              span.format-button.bold(title='Bold')
              span.format-separator
              span.format-button.italic(title='Italic')
              span.format-separator
              span.format-button.underline(title='Underline')
              span.format-separator
              span.format-button.strike(title='Strikethrough')
            span.format-group
              span.format-button.link(title='Link')
            span.format-group
              span.format-button.attribution(title='Authors')
          #editor-container.editor-container
            include content

    script(type='text/javascript', src='../scribe.all.js')
    script(type='text/javascript', src='scripts/advanced.js')
