div
  span Welcome to Quill
div
  b Bold
  span &nbsp;
  i Italic
  span &nbsp;
  s Strike
  span &nbsp;
  u Underline
  span &nbsp;
  a(href='http://www.google.com') Link
div
  u Zero
  i One
  u Two
  i
    b Three
    s Four
div
  b a
  i b
  b c
  i d
  b e
  i f
  b g
div
  span &#09;Indent
div
  span(style='font-size: 32px;' ) Huge
  span(style='font-size: 18px;' ) Large
  span(style='font-size: 10px;' ) Small
div
  span(style='font-family: "Times New Roman", serif;' ) Serif
  span(style='font-family: "Courier New", monospace;' ) Monospace
div
  span Image
  img(src='images/cloud.png')
  span End
ol
  li
    span One
    ol
      li
        span Alpha
      li
        span Beta
  li
    span Two
blockquote
  span Block
  blockquote
    span Quote
    ol
      li
        span Ordered
        ol
          li
            span List
div
  span(style='color: #FFF;' )
    span(style='background-color: #000;') white
  span(style='color: #F00;' ) red
  span(style='color: #00F;' ) blue
  span(style='color: #0F0;' ) lime
  span(style='color: #0FF;' ) teal
  span(style='color: #F0F;' ) magenta
  span(style='color: #FF0;' ) yellow
div
  span(style='background-color: #000;')
    span(style='color: #FFF;' ) black
  span(style='background-color: #F00;' ) red
  span(style='background-color: #00F;' ) blue
  span(style='background-color: #0F0;' ) lime
  span(style='background-color: #0FF;' ) teal
  span(style='background-color: #F0F;' ) magenta
  span(style='background-color: #FF0;' ) yellow
div
  br
div
  br
div
  span Goodbye
div
  br
