!!! 5
%html
  %head
    %title Stypi Dual Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/dual.css'}

%body
  #content-container
    .editor-wrapper.first
      #formatting-container1.formatting-container
        .format-group
          .format-button.first<>
            .format.bold
          .format-button<>
            .format.italic
          .format-button<>
            .format.underline
          .format-button.last<>
            .format.strike
      #editor-container1.editor-container
        .line<>
          %span<> Line 1
          %span<> Word1
        .line<>
          %span<> Line 2
          %span<> Word2
    .editor-wrapper
      #formatting-container2.formatting-container
        .format-group
          .format-button.first<>
            .format.bold
          .format-button<>
            .format.italic
          .format-button<>
            .format.underline
          .format-button.last<>
            .format.strike
      #editor-container2.editor-container
        .line<>
          %span<> Line 1
          %span<> Word1
        .line<>
          %span<> Line 2
          %span<> Word2

  %script{:type => 'text/javascript', :src => 'lib/jquery.js'}
  %script{:type => 'text/javascript', :src => 'lib/underscore.js'}
  %script{:type => 'text/javascript', :src => 'lib/eventemitter2.js'}
  %script{:type => 'text/javascript', :src => 'lib/rangy/rangy-core.js'}
  %script{:type => 'text/javascript', :src => 'lib/jetsync.js'}
  %script{:type => 'text/javascript', :src => 'src/range.js'}
  %script{:type => 'text/javascript', :src => 'src/document.js'}
  %script{:type => 'text/javascript', :src => 'src/editor.js'}
  %script{:type => 'text/javascript', :src => 'src/toolbar.js'}
  %script{:type => 'text/javascript', :src => 'scripts/dual.js'}

