!!! 5
%html
  %head
    %title Stypi Dual Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/dual.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper.first
        #formatting-container1.formatting-container
          %select.family
            %option{:value => false, :selected => true}  San Serif
            %option{:value => 'serif'}      Serif
            %option{:value => 'monospace'}  Monospace
          %select.size
            %option{:value => 'small'}  Small
            %option{:value => false, :selected => true} Normal
            %option{:value => 'large'}  Large
            %option{:value => 'huge'}   Huge
          %button.format-button.bold B
          %button.format-button.italic I
          %button.format-button.underline U
          %button.format-button.link L
        #editor-container1.editor-container
          %div
            %span Welcome to Stypi
          %div
            %b Bold
            %span &nbsp;
            %i Italic
            %span &nbsp;
            %s Strike
            %span &nbsp;
            %u Underline
            %span &nbsp;
            %a{:href => 'http://www.google.com'} Link
          %div
            %u Zero
            %i One
            %u Two
            %i
              %b Three
              %s Four
              %i Five
          %div
            %i
              %b Hey
              %u Now
            %s What
          %div
            %b a
            %i b
            %b c
            %i d
            %b e
            %i f
            %b g
          %div
            %span &#09;I look like an indent but actually I'm not cuz I'm a tab.
          %div
            %span{:style => 'font-size: 32px;' } Huge
            %span{:style => 'font-size: 18px;' } Large
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-size: 32px;' } Huge
          %div
            %span{:style => 'font-size: 18px;' } Large
          %div
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-family: "Times New Roman", serif;' } Serif
            %span{:style => 'font-family: "Courier New", monospace;' } Monospace
          %div
            %br
          %div
            %br
          %div
            %span Goodbye
          %div
            %br
      .editor-wrapper
        #formatting-container2.formatting-container
          %select.family
            %option{:value => false, :selected => true}  San Serif
            %option{:value => 'serif'}      Serif
            %option{:value => 'monospace'}  Monospace
          %select.size
            %option{:value => 'small'}  Small
            %option{:value => false, :selected => true} Normal
            %option{:value => 'large'}  Large
            %option{:value => 'huge'}   Huge
          %button.format-button.bold B
          %button.format-button.italic I
          %button.format-button.underline U
        #editor-container2.editor-container
          %div
            %span Welcome to Stypi
          %div
            %b Bold
            %span &nbsp;
            %i Italic
            %span &nbsp;
            %s Strike
            %span &nbsp;
            %u Underline
            %span &nbsp;
            %a{:href => 'http://www.google.com'} Link
          %div
            %u Zero
            %i One
            %u Two
            %i
              %b Three
              %s Four
              %i Five
          %div
            %i
              %b Hey
              %u Now
            %s What
          %div
            %b a
            %i b
            %b c
            %i d
            %b e
            %i f
            %b g
          %div
            %span &#09;I look like an indent but actually I'm not cuz I'm a tab.
          %div
            %span{:style => 'font-size: 32px;' } Huge
            %span{:style => 'font-size: 18px;' } Large
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-size: 32px;' } Huge
          %div
            %span{:style => 'font-size: 18px;' } Large
          %div
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-family: "Times New Roman", serif;' } Serif
            %span{:style => 'font-family: "Courier New", monospace;' } Monospace
          %div
            %br
          %div
            %br
          %div
            %span Goodbye
          %div
            %br

    %script{:type => 'text/javascript', :src => '../scribe.all.js'}
    %script{:type => 'text/javascript', :src => 'scripts/dual.js'}

