!!! 5
%html
  %head
    %title Stypi Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          %select.family
            %option{:value => false, :selected => true}  San Serif
            %option{:value => 'serif'}      Serif
            %option{:value => 'monospace'}  Monospace
          %select.size
            %option{:value => 'small'}   Small
            %option{:value => false, :selected => true} Normal
            %option{:value => 'large'}   Large
            %option{:value => 'huge'}    Huge
          %select.color
            %option{:value => 'white'}   White
            %option{:value => false, :selected => true}  Black
            %option{:value => 'red'}     Red
            %option{:value => 'blue'}    Blue
            %option{:value => 'lime'}    Lime
            %option{:value => 'teal'}    Teal
            %option{:value => 'magenta'} Magenta
            %option{:value => 'yellow'}  Yellow
          %select.background
            %option{:value => false, :selected => true}   White
            %option{:value => 'black'}   Black
            %option{:value => 'red'}     Red
            %option{:value => 'blue'}    Blue
            %option{:value => 'lime'}    Lime
            %option{:value => 'teal'}    Teal
            %option{:value => 'magenta'} Magenta
            %option{:value => 'yellow'}  Yellow
          %button.format-button.bold Bold
          %button.format-button.italic Italic
          %button.format-button.underline Under
          %button.format-button.strike Strike
          %button.format-button.link Link

        #editor-container.editor-container
          %div
            %span Welcome to Stypi
          %div
            %b Bold
            %span &nbsp;
            %i Italic
            %span &nbsp;
            %s Strike
            %span &nbsp;
            %u Underline
            %span &nbsp;
            %a{:href => 'http://www.google.com'} Link
          %div
            %u Zero
            %i One
            %u Two
            %i
              %b Three
              %s Four
              %i Five
          %div
            %i
              %b Hey
              %u Now
            %s What
          %div
            %b a
            %i b
            %b c
            %i d
            %b e
            %i f
            %b g
          %div
            %span &#09;I look like an indent but actually I'm not cuz I'm a tab.
          %div
            %span{:style => 'font-size: 32px;' } Huge
            %span{:style => 'font-size: 18px;' } Large
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-size: 32px;' } Huge
          %div
            %span{:style => 'font-size: 18px;' } Large
          %div
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-family: "Times New Roman", serif;' } Serif
            %span{:style => 'font-family: "Courier New", monospace;' } Monospace
          %div
            %span{:style => 'color: #FFF;' }
              %span{:style => 'background-color: #000;'} white
            %span{:style => 'color: #F00;' } red
            %span{:style => 'color: #00F;' } blue
            %span{:style => 'color: #0F0;' } lime
            %span{:style => 'color: #0FF;' } teal
            %span{:style => 'color: #F0F;' } magenta
            %span{:style => 'color: #FF0;' } yellow
          %div
            %span{:style => 'background-color: #000;'}
              %span{:style => 'color: #FFF;' } black
            %span{:style => 'background-color: #F00;' } red
            %span{:style => 'background-color: #00F;' } blue
            %span{:style => 'background-color: #0F0;' } lime
            %span{:style => 'background-color: #0FF;' } teal
            %span{:style => 'background-color: #F0F;' } magenta
            %span{:style => 'background-color: #FF0;' } yellow
          %div
            %br
          %div
            %br
          %div
            %span Goodbye
          %div
            %br

    %script{:type => 'text/javascript', :src => '../scribe.all.js'}
    :javascript
      var editor = new Scribe.Editor('editor-container');
      var toolbar = new Scribe.Toolbar('formatting-container', editor);
      editor.on(Scribe.Editor.events.USER_TEXT_CHANGE, function(delta) {
        console.info('User', delta);
      });
