!!! 5
%html
  %head
    %title Stypi Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          %select.family
            %option{:value => ''}
            %option{:value => 'san-serif', :selected => true}  San Serif
            %option{:value => 'serif'}      Serif
            %option{:value => 'monospace'}  Monospace
          %select.size
            %option{:value => ''}
            %option{:value => 'small'}  Small
            %option{:value => 'normal', :selected => true} Normal
            %option{:value => 'large'}  Large
            %option{:value => 'huge'}   Huge
          %select.color
            %option{:value => ''}
            %option{:value => 'white'}  White
            %option{:value => 'black', :selected => true}  Black
            %option{:value => 'red'}    Red
            %option{:value => 'orange'} Orange
            %option{:value => 'yellow'} Yellow
            %option{:value => 'green'}  Green
            %option{:value => 'blue'}   Blue
            %option{:value => 'purple'} Purple
          %select.background
            %option{:value => ''}
            %option{:value => 'white', :selected => true}  White
            %option{:value => 'black'}  Black
            %option{:value => 'red'}    Red
            %option{:value => 'orange'} Orange
            %option{:value => 'yellow'} Yellow
            %option{:value => 'green'}  Green
            %option{:value => 'blue'}   Blue
            %option{:value => 'purple'} Purple
          %button.format-button.bold Bold
          %button.format-button.italic Italic
          %button.format-button.underline Under
          %button.format-button.strike Strike
          %button.format-button.link Link
          %button.format-button.list 1.
          %button.format-button.bullet -
          %button.format-button.outdent <-
          %button.format-button.indent ->
          %button.format-button.left Left
          %button.format-button.center Center
          %button.format-button.right Right
          %button.format-button.justify Just

        #editor-container.editor-container
          %div<>
            %span<> Welcome to Stypi
          %div<>
            %b<> Bold
            %span<> &nbsp;
            %i<> Italic
            %span<> &nbsp;
            %s<> Strike
            %span<> &nbsp;
            %u<> Underline
            %span<> &nbsp;
            %a{:href => 'http://www.google.com'}<> Link
          %div<>
            %u<> Zero
            %i<> One
            %u<> Two
            %i<>
              %b<> Three
              %s<> Four
              %i<> Five
          %div<>
            %i<>
              %b<> Hey
              %u<> Now
            %s<> What
          %div<>
            %b<> a
            %i<> b
            %b<> c
            %i<> d
            %b<> e
            %i<> f
            %b<> g
          %div<>
            %span.tab<> &#09;
            %span<> I look like an indent but actually I'm not cuz I'm a tab.
          %div<>
            %span.size-huge<> Huge
            %span.size-large<> Large
            %span.size-small<> Small
          %div<>
            %span.size-huge<> Huge
          %div<>
            %span.size-large<> Large
          %div<>
            %span.size-small<> Small
          %div<>
            %span.family-serif<> Serif
            %span.family-monospace<> Monospace
          %div<>
            %span.color-white<>
              %span.background-black<> white
            %span.color-red<> red
            %span.color-orange<> orange
            %span.color-yellow<> yellow
            %span.color-green<> green
            %span.color-blue<> blue
            %span.color-purple<> purple
          %div<>
            %span.background-black<>
              %span.color-white<> black
            %span.background-red<> red
            %span.background-orange<> orange
            %span.background-yellow<> yellow
            %span.background-green<> green
            %span.background-blue<> blue
            %span.background-purple<> purple
          %div<>
            %br<>
          %div<>
            %br<>
          %div<>
            %span<> Goodbye
          %div<>
            %br<>

    %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
    %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
    %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-selectionsaverestore.js'}
    %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
    %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
    %script{:type => 'text/javascript', :src => '../lib/jetsync.js'}
    %script{:type => 'text/javascript', :src => '../src/constants.js'}
    %script{:type => 'text/javascript', :src => '../src/utils.js'}
    %script{:type => 'text/javascript', :src => '../src/leaf.js'}
    %script{:type => 'text/javascript', :src => '../src/line.js'}
    %script{:type => 'text/javascript', :src => '../src/document.js'}
    %script{:type => 'text/javascript', :src => '../src/position.js'}
    %script{:type => 'text/javascript', :src => '../src/range.js'}
    %script{:type => 'text/javascript', :src => '../src/selection.js'}
    %script{:type => 'text/javascript', :src => '../src/keyboard.js'}
    %script{:type => 'text/javascript', :src => '../src/renderer.js'}
    %script{:type => 'text/javascript', :src => '../src/undo-manager.js'}
    %script{:type => 'text/javascript', :src => '../src/paste-manager.js'}
    %script{:type => 'text/javascript', :src => '../src/editor.js'}
    %script{:type => 'text/javascript', :src => '../src/debug.js'}
    :javascript
      var editor = new Tandem.Editor('editor-container');

      _.each(['bold', 'italic', 'strike', 'underline', 'bullet', 'list', 'indent', 'outdent'], function(format) {
        $('#formatting-container .' + format).click(function() {
          editor.selection.applyAttribute(format, !$(this).hasClass('active'));
        });
      });
      _.each(['background', 'color', 'family', 'size'], function(format) {
        $('#formatting-container .' + format).change(function() {
          editor.selection.applyAttribute(format, $(this).val());
        });
      });
      $('#formatting-container .link').click(function() {
        if ($(this).hasClass('active'))
          editor.selection.applyAttribute('link', false);
        else
          editor.selection.applyAttribute('link', 'http://www.google.com');
      });
      editor.on(Tandem.Editor.events.SELECTION_CHANGE, function(selection) {
        attributes = selection.getAttributes()
        $("#formatting-container .format-button").removeClass('active');
        for (key in attributes) {
          if (attributes[key]) {
            container = $("#formatting-container ." + key)
            if (container.is('button'))
              container.addClass('active')
            else if (container.is('select'))
              container.val(attributes[key])
          }
        }
      });
