doctype html
html
  head
    title Scribe Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    meta(charset='utf-8')

  body
    #content-container
      .editor-wrapper
        #formatting-container
          select.sc-font-name(title='Font')
            option(value='sans-serif', selected=true)  Sans Serif
            option(value='serif')      Serif
            option(value='monospace')  Monospace
          select.sc-font-size(title='Size')
            option(value='small')   Small
            option(value='normal', selected=true) Normal
            option(value='large')   Large
            option(value='huge')    Huge
          select.sc-fore-color(title='Text Color')
            option(value='white')   White
            option(value='black', selected=true)  Black
            option(value='red')     Red
            option(value='blue')    Blue
            option(value='lime')    Lime
            option(value='teal')    Teal
            option(value='magenta') Magenta
            option(value='yellow')  Yellow
          select.sc-back-color(title='Background Color')
            option(value='white', selected=true)   White
            option(value='black')   Black
            option(value='red')     Red
            option(value='blue')    Blue
            option(value='lime')    Lime
            option(value='teal')    Teal
            option(value='magenta') Magenta
            option(value='yellow')  Yellow
          button.sc-format-button.sc-bold(title='Bold') Bold
          button.sc-format-button.sc-italic(title='Italic') Italic
          button.sc-format-button.sc-underline(title='Underline') Under
          button.sc-format-button.sc-strike(title='Strikethrough') Strike
          button.sc-format-button.sc-link(title='Link') Link
        #editor-container.editor-container
          include content

    script(type='text/javascript', src='../scribe.js')
    script(type='text/javascript').
      var editor = new Scribe.Editor('#editor-container', {
        logLevel: 'info',
        modules: {
          toolbar: { container: '#formatting-container' }
        }
      });
