!!! 5
%html
  %head
    %title Stypi Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          %select.family
            %option{:value => 'san-serif', :selected => true}  San Serif
            %option{:value => 'serif'}      Serif
            %option{:value => 'monospace'}  Monospace
          %select.size
            %option{:value => 'small'}  Small
            %option{:value => 'normal', :selected => true} Normal
            %option{:value => 'large'}  Large
            %option{:value => 'huge'}   Huge
          %select.color
            %option{:value => ''}
            %option{:value => 'white'}  White
            %option{:value => 'black', :selected => true}  Black
            %option{:value => 'red'}    Red
            %option{:value => 'orange'} Orange
            %option{:value => 'yellow'} Yellow
            %option{:value => 'green'}  Green
            %option{:value => 'blue'}   Blue
            %option{:value => 'purple'} Purple
          %select.background
            %option{:value => ''}
            %option{:value => 'white', :selected => true}  White
            %option{:value => 'black'}  Black
            %option{:value => 'red'}    Red
            %option{:value => 'orange'} Orange
            %option{:value => 'yellow'} Yellow
            %option{:value => 'green'}  Green
            %option{:value => 'blue'}   Blue
            %option{:value => 'purple'} Purple
          %button.format-button.bold Bold
          %button.format-button.italic Italic
          %button.format-button.underline Under
          %button.format-button.strike Strike
          %button.format-button.link Link

        #editor-container.editor-container
          %div
            %span Welcome to Stypi
          %div
            %b Bold
            %span &nbsp;
            %i Italic
            %span &nbsp;
            %s Strike
            %span &nbsp;
            %u Underline
            %span &nbsp;
            %a{:href => 'http://www.google.com'} Link
          %div
            %u Zero
            %i One
            %u Two
            %i
              %b Three
              %s Four
              %i Five
          %div
            %i
              %b Hey
              %u Now
            %s What
          %div
            %b a
            %i b
            %b c
            %i d
            %b e
            %i f
            %b g
          %div
            %span &#09;I look like an indent but actually I'm not cuz I'm a tab.
          %div
            %span.size-huge Huge
            %span.size-large Large
            %span.size-small Small
          %div
            %span.size-huge Huge
          %div
            %span.size-large Large
          %div
            %span.size-small Small
          %div
            %span.family-serif Serif
            %span.family-monospace Monospace
          %div
            %span.color-white
              %span.background-black white
            %span.color-red red
            %span.color-orange orange
            %span.color-yellow yellow
            %span.color-green green
            %span.color-blue blue
            %span.color-purple purple
          %div
            %span.background-black
              %span.color-white black
            %span.background-red red
            %span.background-orange orange
            %span.background-yellow yellow
            %span.background-green green
            %span.background-blue blue
            %span.background-purple purple
          %div
            %br
          %div
            %br
          %div
            %span Goodbye
          %div
            %br

    %script{:type => 'text/javascript', :src => '../scribe.all.js'}
    :javascript
      var editor = new Scribe.Editor('editor-container');
      var toolbar = new Scribe.Toolbar('formatting-container', editor);
