!!! 5
%html
  %head
    %title Stypi Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          %select.font-family
            %option{:value => 'san-serif', :selected => true}  San Serif
            %option{:value => 'serif'}      Serif
            %option{:value => 'monospace'}  Monospace
          %select.font-size
            %option{:value => 'small'}  Small
            %option{:value => 'normal', :selected => true} Normal
            %option{:value => 'large'}  Large
            %option{:value => 'huge'}   Huge
          %select.font-color
            %option{:value => 'white'}  White
            %option{:value => 'black', :selected => true}  Black
            %option{:value => 'red'}    Red
            %option{:value => 'orange'} Orange
            %option{:value => 'yellow'} Yellow
            %option{:value => 'green'}  Green
            %option{:value => 'blue'}   Blue
            %option{:value => 'purple'} Purple
          %select.font-background
            %option{:value => 'white', :selected => true}  White
            %option{:value => 'black'}  Black
            %option{:value => 'red'}    Red
            %option{:value => 'orange'} Orange
            %option{:value => 'yellow'} Yellow
            %option{:value => 'green'}  Green
            %option{:value => 'blue'}   Blue
            %option{:value => 'purple'} Purple
          %button.format-button.bold Bold
          %button.format-button.italic Italic
          %button.format-button.underline Underline
          %button.format-button.strike Strike
        #editor-container.editor-container
          %div<>
            %span<> Welcome to Stypi
          %div<>
            %b<> Bold
            %span<> &nbsp;
            %i<> Italic
            %span<> &nbsp;
            %s<> Strike
            %span<> &nbsp;
            %u<> Underline
          %div<>
            %u<> Zero
            %i<> One
            %u<> Two
            %i<>
              %b<> Three
              %s<> Four
              %i<> Five
          %div<>
            %i<>
              %b<> Hey
              %u<> Now
            %s<> What
          %div<>
            %b<> a
            %i<> b
            %b<> c
            %i<> d
            %b<> e
            %i<> f
            %b<> g
          %div<>
            %span.font-huge<> Huge
            %span.font-large<> Large
            %span.font-small<> Small
          %div<>
            %span.font-huge<> Huge
          %div<>
            %span.font-large<> Large
          %div<>
            %span.font-small<> Small
          %div<>
            %span.font-serif<> Serif
            %span.font-monospace<> Monospace
          %div<>
            %span.color-white.bg-black<> white
            %span.color-red<> red
            %span.color-orange<> orange
            %span.color-yellow<> yellow
            %span.color-green<> green
            %span.color-blue<> blue
            %span.color-purple<> purple
          %div<>
            %span.bg-black.color-white<> black
            %span.bg-red<> red
            %span.bg-orange<> orange
            %span.bg-yellow<> yellow
            %span.bg-green<> green
            %span.bg-blue<> blue
            %span.bg-purple<> purple
          %div<>
            %br<>
          %div<>
            %br<>
          %div<>
            %span<> Goodbye
          %div<>
            %br<>

    %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
    %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
    %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
    %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
    %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
    %script{:type => 'text/javascript', :src => '../lib/jetsync.js'}
    %script{:type => 'text/javascript', :src => '../src/constants.js'}
    %script{:type => 'text/javascript', :src => '../src/utils.js'}
    %script{:type => 'text/javascript', :src => '../src/leaf.js'}
    %script{:type => 'text/javascript', :src => '../src/line.js'}
    %script{:type => 'text/javascript', :src => '../src/document.js'}
    %script{:type => 'text/javascript', :src => '../src/position.js'}
    %script{:type => 'text/javascript', :src => '../src/range.js'}
    %script{:type => 'text/javascript', :src => '../src/editor.js'}
    %script{:type => 'text/javascript', :src => '../src/toolbar.js'}
    %script{:type => 'text/javascript', :src => '../src/debug.js'}
    :javascript
      editor = new Tandem.Editor('editor-container');
      toolbar = new Tandem.Toolbar(editor);

      _.each(['bold', 'italic', 'strike', 'underline'], function(format) {
        $('#formatting-container .' + format).click(function() {
          toolbar.applyAttribute(format, !$(this).hasClass('active'));
        });
      });
      _.each(['font-background', 'font-color', 'font-family', 'font-size'], function(format) {
        $('#formatting-container .' + format).change(function() {
          toolbar.applyAttribute(format, $(this).val());
        });
      });
      toolbar.on('update', function(attributes) {
        $("#formatting-container .format-button").removeClass('active');
        for (key in attributes) {
          if (attributes[key] == true) {
            $("#formatting-container ." + key).addClass('active');
          }
        }
      });
