!!! 5
%html
  %head
    %title Stypi Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'src/styles/style.css'}

%body
  #content-container
    #format-container
      Format
    #editor-continer
      Editor

  %script{:type => 'text/javascript', :src => 'src/editor.js'}
