doctype html
html
  head
    title Quill Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    meta(charset='utf-8')

  body
    #content-container
      #editor-wrapper
        #formatting-container
          select.sc-font(title='Font')
            option(value='sans-serif', selected=true)  Sans Serif
            option(value='serif')      Serif
            option(value='monospace')  Monospace
          select.sc-size(title='Size')
            option(value='10px')   Small
            option(value='13px', selected=true) Normal
            option(value='18px')   Large
            option(value='32px')    Huge
          select.sc-color(title='Text Color')
            option(value='white')   White
            option(value='black', selected=true)  Black
            option(value='red')     Red
            option(value='blue')    Blue
            option(value='lime')    Lime
            option(value='teal')    Teal
            option(value='magenta') Magenta
            option(value='yellow')  Yellow
          select.sc-background(title='Background Color')
            option(value='white', selected=true)   White
            option(value='black')   Black
            option(value='red')     Red
            option(value='blue')    Blue
            option(value='lime')    Lime
            option(value='teal')    Teal
            option(value='magenta') Magenta
            option(value='yellow')  Yellow
          button.sc-format-button.sc-bold(title='Bold') Bold
          button.sc-format-button.sc-italic(title='Italic') Italic
          button.sc-format-button.sc-underline(title='Underline') Under
          button.sc-format-button.sc-strike(title='Strikethrough') Strike
          button.sc-format-button.sc-link(title='Link') Link
          button.sc-format-button.sc-image(title='Image') Image
        #editor-container

    script(type='text/javascript', src='../quill.js')
    script(type='text/javascript').
      var editor = new Quill('#editor-container', {
        modules: {
          'toolbar': { container: '#formatting-container' },
          'image-tooltip': true,
          'link-tooltip': true
        }
      });
      editor.on('selection-change', function(range) {
        console.log('selection-change', range)
      });
      editor.on('text-change', function(delta, source) {
        console.log('text-change', delta, source)
      });
