!!! 5
%html
  %head
    %title Stypi iPhone Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %meta{:name=> 'viewport', :content => 'initial-scale=1.0, width=device-width, user-scalable=no'}

%body
  #content-container
    .editor-wrapper
      #editor-container.editor-container

  :javascript
    var Stypi = {
      configs: {
        "nodeHost": "devnode.stypi.com",
        "registered": true,
        "auth": ["3KlnRVvfkdzSmB3Rbw47hQ==","ZJgz9SoxUrDJzyG+wb492DI4RNKpfzLCxAB+kuZYwd5qbqQ9wnj2gOAxjEEU\nGVL0"],
        "docId": "4eaf69293b8cc4225400000d",
        "head": {
          "startLength": 0,
          "endLength": 142,
          "deltas": [
            "\u003Chtml\u003E\n    \u003Chead\u003E\n        \u003Ctitle\u003EKeegan is awesome\u003C/title\u003E\n    \u003C/head\u003E\n    \u003Cbody\u003E\n        \u003Cmarquee\u003Eblargtron3000\u003C/marquee\u003E\n    \u003C/body\u003E\n\u003C/html\u003E"
          ]
        },
        "sessionId": "BpG3wTgTK80AcSui",
        "userId": "4ea73d5b3b8cc43e2300008a",
        "version": 137,
        "username": "lordkeeganus"
      }
    };

    /*
    editor = new Tandem.Editor('editor-container');
    toolbar = new Tandem.Toolbar(editor)

    editor.on(editor.events.USER_SELECTION_CHANGE, function(s){
      attributes = s.getAttributeIntersection()

      var data = {hello: 'there'};

      $.post('/ios-message', {json: JSON.stringify(data)}, function(data) {
        //alert('got response: ' + data); 
      });

    });
    */

  %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
  %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
  %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
  %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
  %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
  %script{:type => 'text/javascript', :src => '../lib/jetsync.js'}
  %script{:type => 'text/javascript', :src => '../src/tags.js'}
  %script{:type => 'text/javascript', :src => '../src/utils.js'}
  %script{:type => 'text/javascript', :src => '../src/leaf.js'}
  %script{:type => 'text/javascript', :src => '../src/line.js'}
  %script{:type => 'text/javascript', :src => '../src/document.js'}
  %script{:type => 'text/javascript', :src => '../src/position.js'}
  %script{:type => 'text/javascript', :src => '../src/range.js'}
  %script{:type => 'text/javascript', :src => '../src/editor.js'}
  %script{:type => 'text/javascript', :src => '../src/toolbar.js'}
  %script{:type => 'text/javascript', :src => '../src/debug.js'}

  %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
  %script{:type => 'text/javascript', :src => '../lib/async.js'}
  %script{:type => 'text/javascript', :src => '../lib/socket.io.js'}
  %script{:type => 'text/javascript', :src => 'scripts/stypi/network.js'}
  %script{:type => 'text/javascript', :src => 'scripts/stypi/ot/jetclient.js'}
  %script{:type => 'text/javascript', :src => 'scripts/stypi/ot/jetstate.js'}

  %script{:type => 'text/javascript', :src => 'scripts/ot.js'}
