doctype 5
html
  head
    title Scribe Mobile Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/mobile.css')
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='initial-scale=1.5, minimum-scale=1.5, maximum-scale=1.5, user-scalable=no')

  body
    #content-container
      #formatting-container
        span.sc-format-button.sc-bold(title='Bold')
        span.sc-format-button.sc-italic(title='Italic')
        span.sc-format-button.sc-underline(title='Underline')
        span.sc-format-button.sc-strike(title='Strikethrough')
      #editor-container.editor-container

    script(type='text/javascript', src='../scribe.all.js')
    script(type='text/javascript').
      var editor = new Scribe.Editor('#editor-container', {
        logLevel: 'info',
        modules: {
          toolbar: { container: '#formatting-container' }
        }
      });
