!!! 5
%html
  %head
    %title Stypi OT Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}

  %body
    #content-container
      .editor-wrapper.first
        #formatting-container.formatting-container
          .format-group
            .format-button.first<>
              .format.bold
            .format-button<>
              .format.italic
            .format-button<>
              .format.underline
            .format-button.last<>
              .format.strike
        #editor-container.editor-container

    :javascript
      var Stypi = {
        configs: {
          "nodeHost": "devnode.stypi.com",
          "registered": null,
          "auth": ["+TzTKr2oT2lPgDK30hSf6w==","zbYgDyUt3jhwJmaZ+CF5noCf8eck9pcSI5V5CwCZcIrVrRwiW5QxdF3+iEWH\nQ3Kx"],
          "head": {"startLength":0,"endLength":407,"deltas":["\nWelcome to Stypi!\n\nStypi is a realtime editor that allows multiple users to make changes to a single document at the same time. All you need to do is share the URL with others to begin collaborating!\n\nThis editor also supports programming languages that you can access by clicking on the \"\u003C/\u003E\" button on the top left. For more information on how to use Stypi please click the FAQ link on the bottom left.\n\n"]},
          "docId": "5089ca8e535532e096000004",
          "sessionId": "uXbz4FdSbI1ewzZw",
          "userId": "5089ca8e535532e096000001",
          "version": 1,
          "environment":"development"
        }
      };
    %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
    %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
    %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
    %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
    %script{:type => 'text/javascript', :src => '../lib/jetsync.js'}
    %script{:type => 'text/javascript', :src => '../src/constants.js'}
    %script{:type => 'text/javascript', :src => '../src/utils.js'}
    %script{:type => 'text/javascript', :src => '../src/leaf.js'}
    %script{:type => 'text/javascript', :src => '../src/line.js'}
    %script{:type => 'text/javascript', :src => '../src/document.js'}
    %script{:type => 'text/javascript', :src => '../src/position.js'}
    %script{:type => 'text/javascript', :src => '../src/range.js'}
    %script{:type => 'text/javascript', :src => '../src/selection.js'}
    %script{:type => 'text/javascript', :src => '../src/keyboard.js'}
    %script{:type => 'text/javascript', :src => '../src/renderer.js'}
    %script{:type => 'text/javascript', :src => '../src/editor.js'}
    %script{:type => 'text/javascript', :src => '../src/toolbar.js'}
    %script{:type => 'text/javascript', :src => '../src/debug.js'}

    %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
    %script{:type => 'text/javascript', :src => '../lib/async.js'}
    %script{:type => 'text/javascript', :src => '../lib/socket.io.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/network.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/ot/jetclient.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/ot/jetstate.js'}

    %script{:type => 'text/javascript', :src => 'scripts/ot.js'}

