!!! 5
%html
  %head
    %title Stypi OT Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/style.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper.first
        #formatting-container.formatting-container
          .format-group
            .format-button.first<>
              .format.bold
            .format-button<>
              .format.italic
            .format-button<>
              .format.underline
            .format-button.last<>
              .format.strike
        #editor-container.editor-container

    :javascript
      var Stypi = {
        configs: {"nodeHost":"devnode.stypi.com","registered":true,"auth":["DCGRG9eoSrkK+HxLQSxnHg==","f/+Ke9QJ2nKacZ9xeNCBsao8BCKhVAzpmFX4HZvUH3HjBH/5BHJ8KGvNjovm\nirjD"],"docId":"509b450602701dc20b000013","head":{"startLength":0,"endLength":106,"deltas":[{"text":"Global Marketing Plan","attributes":{"size":"large"}},{"text":"\n\n","attributes":{}},{"text":"Target Geographic Markets","attributes":{"bold":true}},{"text":"\n\n\n\n\n","attributes":{}},{"text":"Primary Marketing Channels","attributes":{"bold":true}},{"text":"\n\n\n\n\n","attributes":{}},{"text":"Creative Concepts","attributes":{"bold":true}},{"text":"\n\n\n\n\n","attributes":{}}]},"sessionId":"ip3ITPRWTeXt7QxF","userId":"4e8109d2ef696a000100004b","version":2,"username":"jason","environment":"development"},
        events: {}
      }; 
    %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
    %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
    %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-selectionsaverestore.js'}
    %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
    %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
    %script{:type => 'text/javascript', :src => '../lib/jetsync.js'}
    %script{:type => 'text/javascript', :src => '../src/constants.js'}
    %script{:type => 'text/javascript', :src => '../src/utils.js'}
    %script{:type => 'text/javascript', :src => '../src/leaf.js'}
    %script{:type => 'text/javascript', :src => '../src/line.js'}
    %script{:type => 'text/javascript', :src => '../src/document.js'}
    %script{:type => 'text/javascript', :src => '../src/position.js'}
    %script{:type => 'text/javascript', :src => '../src/range.js'}
    %script{:type => 'text/javascript', :src => '../src/selection.js'}
    %script{:type => 'text/javascript', :src => '../src/keyboard.js'}
    %script{:type => 'text/javascript', :src => '../src/renderer.js'}
    %script{:type => 'text/javascript', :src => '../src/undo-manager.js'}
    %script{:type => 'text/javascript', :src => '../src/paste-manager.js'}
    %script{:type => 'text/javascript', :src => '../src/editor.js'}
    %script{:type => 'text/javascript', :src => '../src/debug.js'}

    %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
    %script{:type => 'text/javascript', :src => '../lib/async.js'}
    %script{:type => 'text/javascript', :src => '../lib/socket.io.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/network.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/ot/jetclient.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/ot/jetstate.js'}
    %script{:type => 'text/javascript', :src => 'scripts/stypi/presence.js'}

    %script{:type => 'text/javascript', :src => 'scripts/ot.js'}

