!!! 5
%html
  %head
    %title Stypi Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../lib/dropkick/dropkick.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/pretty.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          .format-group
            // Dropkick screws up without id
            %select.format-dropdown.family#font-family
              %option.default{:value => 'san-serif', :selected => true} San Serif
              %option{:value => 'serif'} Serif
              %option{:value => 'monospace'} Monospace
          .format-group
            %select.format-dropdown.size#font-size
              %option{:value => 'small'} Small
              %option.default{:value => 'normal', :selected => true} Normal
              %option{:value => 'large'} Large
              %option{:value => 'huge'} Huge
          .format-group
            .format-button<>
              .format.bold
            .format-button<>
              .format.italic
            .format-button<>
              .format.underline
            .format-button<>
              .format.strike.last
          .format-group
            .format-button<>
              .format.link.last

        #editor-container.editor-container

        .link-tooltip
          %span.title Visit URL:
          %span.input-container
            %a.url{:target => '_blank'}
            %input.url-editor{:type => 'text'}
            %span - 
            %a.change Change

    %script{:type => 'text/javascript', :src => '../lib/jquery.js'}
    %script{:type => 'text/javascript', :src => '../lib/dropkick/dropkick.js'}
    %script{:type => 'text/javascript', :src => '../lib/toggler.js'}
    %script{:type => 'text/javascript', :src => '../lib/underscore.js'}
    %script{:type => 'text/javascript', :src => '../lib/eventemitter2.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-core.js'}
    %script{:type => 'text/javascript', :src => '../lib/rangy/rangy-selectionsaverestore.js'}
    %script{:type => 'text/javascript', :src => '../lib/diff_match_patch.js'}
    %script{:type => 'text/javascript', :src => '../lib/linked_list.js'}
    %script{:type => 'text/javascript', :src => '../lib/tandem.js'}
    %script{:type => 'text/javascript', :src => '../src/constants.js'}
    %script{:type => 'text/javascript', :src => '../src/utils.js'}
    %script{:type => 'text/javascript', :src => '../src/leaf.js'}
    %script{:type => 'text/javascript', :src => '../src/line.js'}
    %script{:type => 'text/javascript', :src => '../src/document.js'}
    %script{:type => 'text/javascript', :src => '../src/position.js'}
    %script{:type => 'text/javascript', :src => '../src/range.js'}
    %script{:type => 'text/javascript', :src => '../src/selection.js'}
    %script{:type => 'text/javascript', :src => '../src/keyboard.js'}
    %script{:type => 'text/javascript', :src => '../src/renderer.js'}
    %script{:type => 'text/javascript', :src => '../src/undo-manager.js'}
    %script{:type => 'text/javascript', :src => '../src/paste-manager.js'}
    %script{:type => 'text/javascript', :src => '../src/editor.js'}
    %script{:type => 'text/javascript', :src => '../src/debug.js'}
    %script{:type => 'text/javascript', :src => 'scripts/pretty.js'}
