!!! 5
%html
  %head
    %title Stypi Pretty Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/dropkick.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/pretty.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          .format-group
            // Dropkick screws up without id
            %select.format-dropdown.family#font-family
              %option.default{:value => false, :selected => true} San Serif
              %option{:value => 'serif'} Serif
              %option{:value => 'monospace'} Monospace
          .format-group
            %select.format-dropdown.size#font-size
              %option{:value => 'small'} Small
              %option.default{:value => false, :selected => true} Normal
              %option{:value => 'large'} Large
              %option{:value => 'huge'} Huge
          .format-group
            .format-button
              .format.bold
            .format-button
              .format.italic
            .format-button
              .format.underline
            .format-button
              .format.strike.last
          .format-group
            .format-button
              .format.link.last

        #editor-container.editor-container
          %div
            %span Welcome to Stypi
          %div
            %b Bold
            %span &nbsp;
            %i Italic
            %span &nbsp;
            %s Strike
            %span &nbsp;
            %u Underline
            %span &nbsp;
            %a{:href => 'http://www.google.com'} Link
          %div
            %u Zero
            %i One
            %u Two
            %i
              %b Three
              %s Four
              %i Five
          %div
            %i
              %b Hey
              %u Now
            %s What
          %div
            %b a
            %i b
            %b c
            %i d
            %b e
            %i f
            %b g
          %div
            %span &#09;I look like an indent but actually I'm not cuz I'm a tab.
          %div
            %span{:style => 'font-size: 32px;' } Huge
            %span{:style => 'font-size: 18px;' } Large
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-size: 32px;' } Huge
          %div
            %span{:style => 'font-size: 18px;' } Large
          %div
            %span{:style => 'font-size: 10px;' } Small
          %div
            %span{:style => 'font-family: "Times New Roman", serif;' } Serif
            %span{:style => 'font-family: "Courier New", monospace;' } Monospace
          %div
            %span{:style => 'color: #FFF;' }
              %span{:style => 'background-color: #000;'} white
            %span{:style => 'color: #F00;' } red
            %span{:style => 'color: #00F;' } blue
            %span{:style => 'color: #0F0;' } lime
            %span{:style => 'color: #0FF;' } teal
            %span{:style => 'color: #F0F;' } magenta
            %span{:style => 'color: #FF0;' } yellow
          %div
            %span{:style => 'background-color: #000;'}
              %span{:style => 'color: #FFF;' } black
            %span{:style => 'background-color: #F00;' } red
            %span{:style => 'background-color: #00F;' } blue
            %span{:style => 'background-color: #0F0;' } lime
            %span{:style => 'background-color: #0FF;' } teal
            %span{:style => 'background-color: #F0F;' } magenta
            %span{:style => 'background-color: #FF0;' } yellow
          %div
            %br
          %div
            %br
          %div
            %span Goodbye
          %div
            %br

        .link-tooltip
          %span.title Visit URL:
          %span.input-container
            %a.url{:target => '_blank'}
            %input.url-editor{:type => 'text'}
            %span - 
            %a.change Change

    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'scripts/dropkick.js'}
    %script{:type => 'text/javascript', :src => 'scripts/toggler.js'}
    %script{:type => 'text/javascript', :src => '../scribe.all.js'}
    %script{:type => 'text/javascript', :src => 'scripts/pretty.js'}
