!!! 5
%html
  %head
    %title Stypi Pretty Editor Demo
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/dropkick.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'styles/pretty.css'}
    %meta{:charset => 'utf-8'}

  %body
    #content-container
      .editor-wrapper
        #formatting-container.formatting-container
          .format-group
            // Dropkick screws up without id
            %select.format-dropdown.family#font-family
              %option.default{:value => 'san-serif', :selected => true} San Serif
              %option{:value => 'serif'} Serif
              %option{:value => 'monospace'} Monospace
          .format-group
            %select.format-dropdown.size#font-size
              %option{:value => 'small'} Small
              %option.default{:value => 'normal', :selected => true} Normal
              %option{:value => 'large'} Large
              %option{:value => 'huge'} Huge
          .format-group
            .format-button
              .format.bold
            .format-button
              .format.italic
            .format-button
              .format.underline
            .format-button
              .format.strike.last
          .format-group
            .format-button
              .format.link.last

        #editor-container.editor-container

        .link-tooltip
          %span.title Visit URL:
          %span.input-container
            %a.url{:target => '_blank'}
            %input.url-editor{:type => 'text'}
            %span - 
            %a.change Change

    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'scripts/dropkick.js'}
    %script{:type => 'text/javascript', :src => 'scripts/toggler.js'}
    %script{:type => 'text/javascript', :src => '../scribe.all.js'}
    %script{:type => 'text/javascript', :src => 'scripts/pretty.js'}
