LIST_STYLE = decimal lower-alpha lower-roman
MAX_INDENT = 8

resets(arr)
  unquote('list-' + join(' list-', arr))

.ql-editor
  p, ol, ul, pre, blockquote
    counter-reset: resets(1..MAX_INDENT)
  ol
    list-style-type: none
    li
      counter-increment: unquote('list-' + num)
      &:before
        content: unquote('counter(list-' + num + ', ' + LIST_STYLE[0] + ')') '. '
      counter-reset: resets(1..MAX_INDENT)
    for num in (1..MAX_INDENT)
      li.ql-indent-{num}
        counter-increment: unquote('list-' + num)
        &:before
          content: unquote('counter(list-' + num + ', ' + LIST_STYLE[num%3] + ')') '. '
      if (num < MAX_INDENT)
        li.ql-indent-{num}
          counter-reset: resets((num+1)..MAX_INDENT)
  ol, ul
    margin: 0
    padding-left: 20px
  for num in (1..MAX_INDENT)
    .ql-indent-{num}
      padding-left: (40 * num)px
