#mocha
#toolbar-container
  button.sc-bold Bold
  button.sc-link Link
  select.sc-size
    option(value='10px') Small
    option(value='13px', selected=true) Normal
    option(value='18px') Large
    option(value='32px') Huge
#editor-container(style="border: 1px solid gray; min-height: 200px;")
