<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}{% if page.path != "index.html" %} - Quill{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% include meta.html %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    {% assign sections = content | split: '<!-- head -->' %}
    {% for section in sections %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        {{ section | strip }}
      {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include analytics.html  %}
  </head>
  <body{% if page.bodyClass != null %} class="{{ page.bodyClass }}"{% endif %}>
    {% include navbar.html %}
    {% assign heads = content | split: '<!-- head -->' %}
    {% for head in heads %}
      {% if forloop.last != true %}
        {% assign headMod = forloop.index | modulo: 2 %}
        {% if headMod == 1 %}
          {{ head | strip }}
        {% endif %}
      {% else %}
        {% assign scripts = head | split: '<!-- script -->' %}
        {% for script in scripts %}
          {% assign scriptMod = forloop.index | modulo: 2 %}
          {% if scriptMod == 1 %}
            {{ script | strip }}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    <footer>
      <div class="container">
        <ul>
          <li><iframe src="//ghbtns.com/github-btn.html?user=quilljs&amp;repo=quill&amp;type=watch&amp;count=true" title="Star on GitHub" width="100" height="20"></iframe></li>
          <li>
            {% if page.url contains '/blog/' and page.url != '/blog/' %}
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://quilljs.com{{ page.url }}" data-text="{{ page.title }}" data-via="quilljs">Tweet</a>
            {% else %}
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://quilljs.com" data-text="{{ site.name }}" data-via="quilljs">Tweet</a>
            {% endif %}
          </li>
        </ul>
        <div>
          Quill is open source under
          <a title="BSD" href="https://github.com/quilljs/quill#license">BSD</a>.
          The latest version is currently
          <a title="Version {{ site.version }}" href="https://github.com/quilljs/quill/releases/tag/v{{site.version}}">v{{site.version}}</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% assign sections = content | split: '<!-- script -->' %}
    {% for section in sections %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        {{ section | strip }}
      {% endif %}
    {% endfor %}
    <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>
