<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}{% if page.path != "index.html" %} - Quill{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% include meta.html %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    {% assign sections = content | split: '<!-- head -->' %}
    {% for section in sections %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        {{ section | strip }}
      {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include analytics.html  %}
  </head>
  <body{% if page.bodyClass != null %} class="{{ page.bodyClass }}"{% endif %}>
    {% include header.html %}
    {% assign heads = content | split: '<!-- head -->' %}
    {% for head in heads %}
      {% if forloop.last != true %}
        {% assign headMod = forloop.index | modulo: 2 %}
        {% if headMod == 1 %}
          {{ head | strip }}
        {% endif %}
      {% else %}
        {% assign scripts = head | split: '<!-- script -->' %}
        {% for script in scripts %}
          {% assign scriptMod = forloop.index | modulo: 2 %}
          {% if scriptMod == 1 %}
            {{ script | strip }}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% include footer.html %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% assign sections = content | split: '<!-- script -->' %}
    {% for section in sections %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        {{ section | strip }}
      {% endif %}
    {% endfor %}
    </div>
  </body>
</html>
