<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/scribe/css/styles.css">
    {% if page.stylesheet %}<link rel="stylesheet" href="{{ page.stylesheet }}">{% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-19077541-2', 'stypi.github.io');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header id="navigation-container" class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="Scribe">Scribe</a>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="docs/get-started/">Documentation</a></li>
            <li><a href="docs/examples/">Examples</a></li>
          </ul>
        </nav>
        <a href="https://github.com/stypi/scribe">
          <img class="fork-image" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
        </a>
      </div>
    </header>

    {{ content }}
  </body>
</html>
