---
layout: default
navigation:
  - text: Get Started
    url: /docs/get-started/
  - text: API
    url: /docs/api/
    children:
      - text: Text Manipulation
        url: /docs/api/text-manipulation/
      - text: Events
        url: /docs/api/events/
      - text: Deltas
        url: /docs/api/deltas/
  - text: Modules
    url: /docs/modules/
    children:
      - text: Toolbar
        url: /docs/modules/toolbar/
      - text: Link Tooltip
        url: /docs/modules/link-tooltip/
      - text: Authors
        url: /docs/modules/authors/
      - text: Cursors
        url: /docs/modules/cursors/
  - text: Themes
    url: /docs/themes/
---

<div class="container">
  <div id="sidebar-dropdown">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Navigate the Docs... <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for parent in page.navigation %}
        <li {% if page.url contains parent.url %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}{{ parent.url }}">{{ parent.text }}</a>
          {% if parent.children != null %}
          <ul>
            {% for child in parent.children %}
            <li {% if page.url contains child.url %}class="active"{% endif %}>
              <a href="{{ site.baseurl }}{{ child.url }}">{{ child.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="content-container" class="col-md-9 col-sm-10">
      {{ content }}
    </div>
    <div id="sidebar-container" class="col-md-3 col-sm-2">
      <ul class="nav sidebar-nav">
        {% for parent in page.navigation %}
        <li {% if page.url contains parent.url %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}{{ parent.url }}">{{ parent.text }}</a>
          {% if parent.children != null %}
          <ul class="nav">
            {% for child in parent.children %}
            <li {% if page.url contains child.url %}class="active"{% endif %}>
              <a href="{{ site.baseurl }}{{ child.url }}">{{ child.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
