---
layout: default
navigation:
  - text: Quickstart
    url: /docs/quickstart/
  - text: API
    url: /docs/api/
    children:
      - text: Editor
        url: /docs/api/editor/
      - text: Events
        url: /docs/api/events/
      - text: Deltas
        url: /docs/api/deltas/
  - text: Modules
    url: /docs/modules/
    children:
      - text: Toolbar
        url: /docs/modules/toolbar/
      - text: Link Tooltip
        url: /docs/modules/link-tooltip/
      - text: Authors
        url: /docs/modules/authors/
      - text: Cursors
        url: /docs/modules/cursors/
  - text: Themes
    url: /docs/themes/
  - text: Examples
    url: /docs/examples/
    children:
      - text: Basic
        url: /docs/examples/basic/
      - text: Advanced
        url: /docs/examples/advanced/
---

<div class="container">
  <div id="sidebar-dropdown">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Navigate the Docs... <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% include nav-items.html %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="content-container" class="col-md-9 col-sm-10">
      {{ content }}
    </div>
    <div id="sidebar-container" class="col-md-3 col-sm-2">
      <ul class="nav sidebar-nav">
        {% assign navClass = "nav" %}
        {% include nav-items.html %}
      </ul>
    </div>
  </div>
</div>
