---
layout: default
---
<div class="container">
  <div class="row">
    <div id="sidebar-container" class="three columns">
      <ul>
        {% include sidebar.html navClass="nav" items=site.data.docs %}
      </ul>
    </div>
    <div id="docs-container" class="nine columns">
      <div class="row">
        <span class="breadcrumb">
          <span>Documentation:</span>
          <span>Modules / History</span>
        </span>
        <a class="edit-link" href="{{site.github}}/{{page.path}}" target="_blank" title="Edit on Github">
          {% include svg/octocat.svg %}
          <span>Edit on Github</span>
        </a>
      </div>
      <hr>
      <div id="content-container">
        {% if page.stability == "review" %}
        <div class="alert alert-warning">This page needs to be reviewed.</div>
        {% elsif page.stability == "incomplete" %}
        <div class="alert alert-warning">This page is incomplete.</div>
        {% endif %}
        <h1 id="{{ page.title | handelize | downcase }}">{{ page.title }}</h1>
        {{ content }}
      </div>
      <div class="row" id="pagination-container">
      {% assign docs = "" | split: "" %}
      {% for category in site.data.docs %}
        {% assign docs = docs | push: category %}
        {% if category.children != null %}
          {% for child in category.children %}
            {% unless child.url contains '#' %}
              {% assign docs = docs | push: child %}
            {% endunless %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% for doc in docs %}
        {% if page.permalink == doc.url %}
          {% assign next = docs[forloop.index] %}
          {% unless forloop.first %}
            <a class="prev" href="{{ prev.url }}">
              <span class="label">{{ prev.title }}</span>
              <span class="arrow">
                <span class="tip"></span>
                <span class="shaft"></span>
              </span>
            </a>
          {% endunless %}
          {% unless forloop.last %}
            <a class="next" href="{{ next.url }}">
              <span class="label">{{ next.title }}</span>
              <span class="arrow">
                <span class="tip"></span>
                <span class="shaft"></span>
              </span>
            </a>
          {% endunless %}
        {% endif %}
        {% assign prev = doc %}
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="feature row">
    <div class="six columns details">
      <h2>An Open Source Project</h2>
      <span>Quill is permissively licensed under BSD. Use it freely in personal or commercial projects. Join the growing community on Github!</span>
      <div>
      {% include github.html %}
      </div>
    </div>
    <img class="six columns" src="/assets/images/features/open-source.svg">
  </div>
</div>
