
.qn-notion-toolbar-container {
  display: inline-flex;
  align-items: stretch;
  height: 36px;
  background: white;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
  pointer-events: auto;
  padding: 4px;

  box-sizing: border-box;
  isolation: isolate;
}
