.ql-snow
  .ql-multi-cursor
    .cursor-name
      border-radius: 4px
      font-size: 11px
      font-family: Arial
      margin-left: -50%
      padding: 4px 10px
    .cursor-triangle
      border-left: 4px solid transparent
      border-right: 4px solid transparent
      height: 0px
      margin-left: -3px
      width: 0px
    .cursor.left .cursor-name
      margin-left: -8px
    .cursor.right
      .cursor-flag
        right: auto
      .cursor-name
        margin-left: -100%
        margin-right: -8px
    .cursor-triangle.bottom
      border-top: 4px solid transparent
      display: block
      margin-bottom: -1px
    .cursor-triangle.top
      border-bottom: 4px solid transparent
      display: none
      margin-top: -1px
    .cursor.top
      .cursor-triangle.bottom
        display: none
      .cursor-triangle.top
        display: block
