.ql-snow
  .ql-tooltip
    border: 1px solid #ccc
    box-shadow: 0px 0px 5px #ddd
    color: #222
    a
      color: #06c
    .input
      border: 1px solid #ccc
      margin: 0px
      padding: 5px
